<div class="form-group col-lg-12">

    <div class="checkbox">
        <input type="checkbox" id="checkbox_sketch" class="">
        <label for="checkbox_sketch" style="font-weight:bold;">Эскиз</label>
    </div>
    <div id="div_checkbox_sketch" style="display: none;padding: 10px;" class="panel panel-default">
        <div class="form-group" style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл эскиза</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       id = "TechTaskDate_sketch"
                        name="TechTaskDate_sketch"
                       placeholder="dd.mm.yyyy">
{#                       name="TechTaskDate_sketch"#}
            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к эскизу</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
{#                       id="TechTaskPPR_sketch"#}
                       name="TechTaskPPR_sketch"></textarea>
{#                      name="TechTaskPPR_sketch"#}

        </div>



            <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow" id="content0" hidden>
                {% include "/TechTask/shablony_teshtask/For_TechTaskForm.html" %}
{#                {% include "For_TechTaskForm.html" %}#}
            </div>



            {#            <div class="checkbox">#}
            {##}
            {#                <input type="checkbox" id="" class="">#}
            {#                <label for="">Согласован Главным Инженером</label>#}
            {#            </div>#}
            {##}
            {#            <div class="checkbox">#}
            {#                <input type="checkbox" id="" class="">#}
            {#                <label for="">Согласован Директором</label>#}
            {#            </div>#}


    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_plan" class="">
        <label for="checkbox_plan" style="font-weight:bold;">Чертеж</label>
    </div>
    <div id="div_checkbox_plan" style="display: none;padding: 10px;" class="panel panel-default">
        <div class="form-group" style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл чертеж</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy"
                        id="TechTaskDate_plan"
                        name="TechTaskDate_plan">
{#                       name="TechTaskDate_plan"#}
            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к чертежу</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
{#                       id="TechTaskPPR_plan"#}
                       name="TechTaskPPR_plan"></textarea>
{#                      name="TechTaskPPR_plan"#}

        </div>
            <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content1" hidden>
                {% include "/TechTask/shablony_teshtask/For_TechTaskForm.html" %}
            </div>
        </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_analysis" class="">
        <label for="checkbox_analysis" style="font-weight:bold;">Анализ
            проектной документации</label>
    </div>
    <div id="div_checkbox_analysis" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл анализа проектной документации</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>


{#                name="TechTaskDate_analysis"#}
                <input  type="date"
                       class="form-control"
                       name="TechTaskDate_analysis"
                       id="TechTaskDate_analysis"
                       placeholder="dd.mm.yyyy">
            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к анализу проектной документации</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
                      name="TechTaskPPR_analysis"
{#                      id="TechTaskPPR_analysis"#}
                      >
            </textarea>
{#                      name="TechTaskPPR_analysis"#}




        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content2" hidden>
                {% include "/TechTask/shablony_teshtask/For_TechTaskForm.html" %}
            </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_counting" class="">
        <label for="checkbox_counting" style="font-weight:bold;">Подсчет объемов
            работ</label>
    </div>
    <div id="div_checkbox_counting" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл подсчета объемов работ</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy"
                       name="TechTaskDate_counting"
                       id="TechTaskDate_counting">
{#                       name="TechTaskDate_counting"#}

            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к подсчету объемов работ</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
                      name="TechTaskPPR_counting"
{#                      id="TechTaskPPR_counting"#}
                      >
                        </textarea>
{#                      name="TechTaskPPR_counting"#}


        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content3" hidden>
                {% include "/TechTask/shablony_teshtask/For_TechTaskForm.html" %}
            </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_calcylator" class="">
        <label for="checkbox_calcylator" style="font-weight:bold;">Расчет
            стоимости</label>
    </div>
    <div id="div_checkbox_calcylator" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy"
                       name="TechTaskDate_checkbox_calcylator"
                       id="TechTaskDate_checkbox_calcylator">
{#                       name="TechTaskDate_checkbox_calcylator"#}


            </div>

        </div>

        <div class="form-group">
            <label>Комментарий</label>
            <textarea  class="form-control"
                      rows="3"
                      placeholder="Введите описание"
                      name="TechTaskPPR_calcylator"
                      >
</textarea>
{#                      name="TechTaskPPR_calcylator" id="TechTaskPPR_calcylator"#}


        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content4" hidden>
                {% include "/TechTask/shablony_teshtask/For_TechTaskForm.html" %}
            </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_KP" class="">
        <label for="checkbox_KP" style="font-weight:bold;">Подготовка КП</label>
    </div>
    <div id="div_checkbox_KP" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy"
                       name="TechTaskDate_checkbox_KP"
                       id="TechTaskDate_checkbox_KP">
{#                       name="TechTaskDate_checkbox_KP"#}

            </div>

        </div>

        <div class="form-group">
            <label>Комментарий</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
                      name="TechTaskPPR_KP"
{#                      id="TechTaskPPR_KP"#}
                      ></textarea>
{#                      name="TechTaskPPR_KP"#}


        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content5" hidden>
                {% include "/TechTask/shablony_teshtask/For_TechTaskForm.html" %}
            </div>
</div>
</div>

<script>
             {#= document.getElementById('0')#}
            let tabs =  document.querySelectorAll(".butShowHide");
            console.log("tabs!@#",tabs)
            console.log("texts III",$( '.content' ))

            for (let i=0;i<tabs.length;i++){
            console.log(tabs[i])
                let texts = tabs[i].parentElement.childNodes[2]
                console.log("texts",texts)
                console.log(i,"texts III",$( `#content${i}` ))
                tabs[i].onclick = function expand () {
                if (texts.className == "form-group show") {
                    $( `#content${i}` ).hide( "slow" )
                    texts.className = "form-group";
                    tabs[i].value='Показать задачи'
                } else {
                    $( `#content${i}` ).show( "slow" )
                    tabs[i].value='Скрыть задачи'
                    texts.className = "form-group show";
                }
            };
            }
//UserSelection
let elms = document.getElementsByClassName('UserSelection')
let Otpravka_roles = document.getElementsByClassName('Otpravka_roles')
let Opisanie_text = document.getElementsByClassName('Opisanie_text')
let Opisanie_forms = document.getElementsByClassName('Opisanie_forms')
let button_forms = document.getElementsByClassName('button_forms')
let priority = document.getElementsByClassName('priority')
let dateWork = document.getElementsByClassName('dateWork')
let Otpravka_roles_forms = document.getElementsByClassName('Otpravka_roles_forms')
{#let Otpravka_roles_button = document.getElementsByClassName('Otpravka_roles_button')#}

console.log('а шо')
for(let i = 0; i < elms.length; i++){
    console.log(i,elms[i])
    elms[i].onchange = async function (event) {
                                        event.preventDefault();
                                        removeOptions(Otpravka_roles[i])
                                        var opt = document.createElement('option');
                                        opt.innerHTML = "<option disabled selected value> --Выберите-- </option>"
                                        Otpravka_roles[i].appendChild(opt);

                                        if ($(this).val() == "roles") {
                                            Opisanie_forms[i].style.display = "none";
                                            button_forms[i].style.display = "none";
                                            Otpravka_roles_forms[i].style.display = "block";
                                            //get_all_roles
                                            check_user = await fetch('/auth/get_all_user/', {
                                                headers: {
                                                    Accept: 'application/json',
                                                    "Authorization": getCookieValue("Authorization")
                                                },
                                            });
                                            let responseText = await check_user.text();
                                            console.log('response',responseText)
                                            console.log(JSON.parse(responseText))
                                            values = JSON.parse(responseText)

                                            {#values = {{ all_roles|tojson|safe }}#}
                                            for (value of Object.keys(values)) {
                                                var opt = document.createElement('option');
                                                opt.value = value
                                                opt.innerHTML = values[value]
                                                Otpravka_roles[i].appendChild(opt);
                                            }

                                        }
                                        if ($(this).val() == "username") {
                                            Otpravka_roles_forms[i].style.display = "block";
                                            check_user = await fetch('/auth/get_all_username/', {
                                                headers: {
                                                    Accept: 'application/json',
                                                    "Authorization": getCookieValue("Authorization")
                                                },
                                            });
                                            let responseText = await check_user.text();
                                            values = JSON.parse(responseText)
                                            {#values = {{ all_user|tojson|safe }}#}
                                            for (value of Object.keys(values)) {
                                                if (window.my_UserPfofile.my_username != value) {
                                                    var opt = document.createElement('option');
                                                    opt.value = value
                                                    opt.innerHTML = values[value]
                                                    Otpravka_roles[i].appendChild(opt);

                                                }
                                            }
                                        }
                                        }
                                        Otpravka_roles[i].onchange = async function (event) {
                                            Opisanie_forms[i].style.display = "block";
                                            button_forms[i].style.display = "block";

                                        }
                                        {#Otpravka_roles_button[i].onclick = async function () {#}
                                        {#    console.log('press')#}
                                        {#    event.preventDefault();#}
                                        //}
}

                                    {#document.getElementById('Otpravka_roles_button').onclick = async function () {#}
                                    {#console.log('press')#}
                                    {#    event.preventDefault();#}
                                    {#    valid = true#}
                                    {#    if (document.getElementById('Opisanie_text').value == "") {#}
                                    {#    console.log('press112')#}
                                    {#        valid = false#}
                                    {#        document.getElementById('Opisanie_text').setAttribute("required", true)#}
                                    {#    }#}
                                    {#    if (document.getElementById('DateEndWork').value == "") {#}
                                    {#    console.log('press222')#}
                                    {#        valid = false#}
                                    {#        document.getElementById('DateEndWork').setAttribute("required", true)#}
                                    {##}
                                    {#    }#}
                                    {#    if (valid == false) {#}
                                    {#        console.log('press2')#}
                                    {##}
                                    {#        return#}
                                    {#    } else {#}
                                    {#        console.log(document.getElementById('Opisanie_text').value)#}
                                    {#        user = []#}
                                    {#        user.push(document.getElementById('Otpravka_roles').value)#}
                                    {#        if (document.getElementById('Type').value == "username") {#}
                                                {#if document.getElementById("connection").value#}
                                                {#let connection = document.getElementById("connection").value#}
                                                {#console.log(connection)#}
                                                {#console.log(JSON.stringify({connection}))#}
                                    {#            URL = `/userprofile/createUserTask?name=${document.getElementById('Opisanie_text').value}&user_executor=${JSON.stringify(user)}&status=%D0%9D%D0%B0%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B0&result=&target_date=${document.getElementById('DateEndWork').value}&notification_holder=false&notification_executor=true&priority=${document.getElementById('priority').value}&connection`#}
                                    {#        } else {#}
                                                {#connection = document.getElementById("connection").value#}
                                    {#            URL = `/userprofile/createUserTaskRoles?name=${document.getElementById('Opisanie_text').value}&user_executor=${JSON.stringify(user)}&status=%D0%9D%D0%B0%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B0&result=&target_date=${document.getElementById('DateEndWork').value}&notification_holder=false&notification_executor=true&priority=${document.getElementById('priority').value}&connection`#}
                                    {#        }#}
                                    {##}
                                    {##}
                                    {#        res = await fetch(URL, {#}
                                    {#            method: "GET",#}
                                    {#            headers: {#}
                                    {#                Accept: 'application/json',#}
                                    {#                'Content-Type': 'application/json',#}
                                    {#                "Authorization": getCookieValue("Authorization")#}
                                    {#            },#}
                                                {#body: JSON.stringify({})#}
                                    {#        });#}
                                    {#        console.log("res.status", res.status)#}
                                    {#        if (res.status == 200) {#}
                                    {#            console.log(res.status)#}
                                                {#window.location.reload();#}
                                    {#        } else {#}
                                    {#            showToast("Ошибка", "error", 5000);#}
                                    {##}
                                    {#        }#}
                                    {#    }#}
                                    //}
{#document.getElementById('Type').onchange = async function (event) {#}
{#                                        event.preventDefault();#}
{##}
{#                                        removeOptions(document.getElementById('Otpravka_roles'));#}
{#                                        var opt = document.createElement('option');#}
{#                                        opt.innerHTML = "<option disabled selected value> --Выберите-- </option>"#}
{#                                        document.getElementById('Otpravka_roles').appendChild(opt);#}
{#                                        if ($(this).val() == "roles") {#}
{#                                            document.getElementById("Opisanie_forms").style.display = "none";#}
{#                                            document.getElementById("button_forms").style.display = "none";#}
{#                                            document.getElementById("Otpravka_roles_forms").style.display = "block";#}
{##}
{#                                            //get_all_roles#}
{#                                            check_user = await fetch('/auth/get_all_user/', {#}
{#                                                headers: {#}
{#                                                    Accept: 'application/json',#}
{#                                                    "Authorization": getCookieValue("Authorization")#}
{#                                                },#}
{#                                            });#}
{#                                            let responseText = await check_user.text();#}
{#                                            console.log('response',responseText)#}
{#                                            console.log(JSON.parse(responseText))#}
{#                                            values = JSON.parse(responseText)#}
{##}
                                            {#values = {{ all_roles|tojson|safe }}#}
{#                                            for (value of Object.keys(values)) {#}
{#                                                var opt = document.createElement('option');#}
{#                                                opt.value = value#}
{#                                                opt.innerHTML = values[value]#}
{#                                                document.getElementById('Otpravka_roles').appendChild(opt);#}
{#                                            }#}
{#                                        }#}
{##}
{#                                        if ($(this).val() == "username") {#}
{#                                            document.getElementById("Otpravka_roles_forms").style.display = "block";#}
{#                                            check_user = await fetch('/auth/get_all_username/', {#}
{#                                                headers: {#}
{#                                                    Accept: 'application/json',#}
{#                                                    "Authorization": getCookieValue("Authorization")#}
{#                                                },#}
{#                                            });#}
{#                                            let responseText = await check_user.text();#}
{#                                            values = JSON.parse(responseText)#}
                                            {#values = {{ all_user|tojson|safe }}#}
{#                                            for (value of Object.keys(values)) {#}
{#                                                if (window.my_UserPfofile.my_username != value) {#}
{#                                                    var opt = document.createElement('option');#}
{#                                                    opt.value = value#}
{#                                                    opt.innerHTML = values[value]#}
{#                                                    document.getElementById('Otpravka_roles').appendChild(opt);#}
{##}
{#                                                }#}
{#                                            }#}
{#                                        }#}
{#                                    }#}

            </script>