<div class="form-group col-lg-12">

    <div class="checkbox">
        <input type="checkbox" id="checkbox_sketch" class="">
        <label for="checkbox_sketch" style="font-weight:bold;">Эскиз</label>
    </div>
    <div id="div_checkbox_sketch" style="display: none;padding: 10px;" class="panel panel-default">
        <div class="form-group" style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл эскиза</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       id = "TechTaskDate_sketch"
                        name="TechTaskDate_sketch"
                       placeholder="dd.mm.yyyy">
{#                       name="TechTaskDate_sketch"#}
            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к эскизу</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
                       id="TechTaskPPR_sketch"
                       name="TechTaskPPR_sketch"></textarea>
{#                      name="TechTaskPPR_sketch"#}

        </div>



            <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow" id="content0" hidden>
                {% include "Form_User_Tasck.html" %}
            </div>



            {#            <div class="checkbox">#}
            {##}
            {#                <input type="checkbox" id="" class="">#}
            {#                <label for="">Согласован Главным Инженером</label>#}
            {#            </div>#}
            {##}
            {#            <div class="checkbox">#}
            {#                <input type="checkbox" id="" class="">#}
            {#                <label for="">Согласован Директором</label>#}
            {#            </div>#}


    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_plan" class="">
        <label for="checkbox_plan" style="font-weight:bold;">Чертеж</label>
    </div>
    <div id="div_checkbox_plan" style="display: none;padding: 10px;" class="panel panel-default">
        <div class="form-group" style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл чертеж</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy"
                        id="TechTaskDate_plan"
                        name="TechTaskDate_plan">
{#                       name="TechTaskDate_plan"#}
            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к чертежу</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"
                       id="TechTaskPPR_plan"
                       name="TechTaskPPR_plan"></textarea>
{#                      name="TechTaskPPR_plan"#}

        </div>
            <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content1" hidden>
                {% include "Form_User_Tasck.html" %}
            </div>
        </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_analysis" class="">
        <label for="checkbox_analysis" style="font-weight:bold;">Анализ
            проектной документации</label>
    </div>
    <div id="div_checkbox_analysis" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл анализа проектной документации</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>


{#                name="TechTaskDate_analysis"#}
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy">
            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к анализу проектной документации</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"></textarea>
{#                      name="TechTaskPPR_analysis"#}




        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content2" hidden>
                {% include "Form_User_Tasck.html" %}
            </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_counting" class="">
        <label for="checkbox_counting" style="font-weight:bold;">Подсчет объемов
            работ</label>
    </div>
    <div id="div_checkbox_counting" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">
            <div class="form-group">
                <label>Вложенный файл подсчета объемов работ</label>

                <input type="file" id="">
            </div>

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy">
{#                       name="TechTaskDate_counting"#}

            </div>

        </div>

        <div class="form-group">
            <label>Комментарий к подсчету объемов работ</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"></textarea>
{#                      name="TechTaskPPR_counting"#}


        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content3" hidden>
                {% include "Form_User_Tasck.html" %}
            </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_calcylator" class="">
        <label for="checkbox_calcylator" style="font-weight:bold;">Расчет
            стоимости</label>
    </div>
    <div id="div_checkbox_calcylator" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy">
{#                       name="TechTaskDate_checkbox_calcylator"#}


            </div>

        </div>

        <div class="form-group">
            <label>Комментарий</label>
            <textarea  class="form-control"
                      rows="3"
                      placeholder="Введите описание"></textarea>
{#                      name="TechTaskPPR_calcylator"#}


        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content4" hidden>
                {% include "Form_User_Tasck.html" %}
            </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="checkbox_KP" class="">
        <label for="checkbox_KP" style="font-weight:bold;">Подготовка КП</label>
    </div>
    <div id="div_checkbox_KP" style="display: none;padding: 10px;"
         class="panel panel-default">
        <div class="form-group"
             style="display: flex; justify-content: flex-start; gap: 20px;">

            <div class="form-group">
                <label>Установленный срок выполнения работ</label>
                <input  type="date"
                       class="form-control"
                       placeholder="dd.mm.yyyy">
{#                       name="TechTaskDate_checkbox_KP"#}

            </div>

        </div>

        <div class="form-group">
            <label>Комментарий</label>
            <textarea  class="form-control" rows="3"
                      placeholder="Введите описание"></textarea>
{#                      name="TechTaskPPR_KP"#}


        </div>
        <div class="form-group">
            <input type="button" value="Просмотреть задачи" class="butShowHide">
            </div>
            <div class="form-group slow"  id="content5" hidden>
                {% include "Form_User_Tasck.html" %}
            </div>
</div>
</div>

<script>
             {#= document.getElementById('0')#}
            let tabs =  document.querySelectorAll(".butShowHide");
            console.log("tabs!@#",tabs)
            console.log("texts III",$( '.content' ))

            for (let i=0;i<tabs.length;i++){
            console.log(tabs[i])
                let texts = tabs[i].parentElement.childNodes[2]
                console.log("texts",texts)
                console.log(i,"texts III",$( `#content${i}` ))
                tabs[i].onclick = function expand () {
                if (texts.className == "form-group show") {
                    $( `#content${i}` ).hide( "slow" )
                    texts.className = "form-group";
                    tabs[i].value='Показать задачи'
                } else {
                    $( `#content${i}` ).show( "slow" )
                    tabs[i].value='Скрыть задачи'
                    texts.className = "form-group show";
                }
            };
            }

document.getElementById('Type').onchange = async function (event) {
                                        event.preventDefault();

                                        removeOptions(document.getElementById('Otpravka_roles'));
                                        var opt = document.createElement('option');
                                        opt.innerHTML = "<option disabled selected value> --Выберите-- </option>"
                                        document.getElementById('Otpravka_roles').appendChild(opt);
                                        if ($(this).val() == "roles") {
                                            document.getElementById("Opisanie_forms").style.display = "none";
                                            document.getElementById("button_forms").style.display = "none";
                                            document.getElementById("Otpravka_roles_forms").style.display = "block";


                                            {#values = {{ all_roles|tojson|safe }}#}
                                            for (value of Object.keys(values)) {
                                                var opt = document.createElement('option');
                                                opt.value = value
                                                opt.innerHTML = values[value]
                                                document.getElementById('Otpravka_roles').appendChild(opt);
                                            }
                                        }

                                        if ($(this).val() == "username") {
                                            document.getElementById("Otpravka_roles_forms").style.display = "block";

                                            {#values = {{ all_user|tojson|safe }}#}
                                            for (value of Object.keys(values)) {
                                                if (window.my_UserPfofile.my_username != value) {
                                                    var opt = document.createElement('option');
                                                    opt.value = value
                                                    opt.innerHTML = values[value]
                                                    document.getElementById('Otpravka_roles').appendChild(opt);

                                                }
                                            }
                                        }
                                    }
            </script>