.idea
.idea/
.idea/*


src/file
src/file/
src/file/*

__pycache__
__pycache__/
__pycache__/*

api/__pycache__
api/__pycache__/
api/__pycache__/*

models/__pycache__
models/__pycache__/
models/__pycache__/*

services/__pycache__
services/__pycache__/
services/__pycache__/*
