.search-btn {
        color: #000000;
    }

    .button_add {
        background-color: #0a0a23;
        color: #fff;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        white-space: pre-line;
        padding-left: 15px;
        padding-right: 15px;
    }

    .search {
        display: inline-flex;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }

    .search-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        order: -1;
    }

    .search-field {
        border: 0;
        width: 100%;
    }

    .search-field:focus {
        outline: none;
    }

    .search-field:focus + .search-icon {
        /* стили для иконки при фокусе поля */
    }

    .box {
        Display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .not_active_menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        overflow: hidden;
        text-decoration: none;
        border-radius: 50%;
        transition: background-color 0.2s linear;
    }

    .user i {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba(112, 112, 112, 0.2);
    }

    .not_active_menu:hover {
        background-color: rgba(112, 112, 112, 0.2);
    }

    .active_menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        overflow: hidden;
        text-decoration: none;
        border-radius: 50%;
        transition: background-color 0.2s linear;
        background-color: rgba(112, 112, 112, 0.2);
    }

    .active_menu:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    body {
        margin-right: 10px;
    }

    .containerNewDesign {
        display: grid;
        grid-template-rows: 70px 40px 1fr;
        grid-template-columns: 100px 1fr;
        gap: 10px;
        grid-row-gap: 30px;
        height: 100%;
        grid-template-areas:
    "head head head"
    "menu subhead subhead"
    "menu main main";
    }

    .left-head, .right-head, .search-head {
        margin: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-head {
        font-weight: bolder;
        font-size: x-large;
        margin-left: 25px;
    }

    .left-menu {
        grid-area: menu;
        Display: flex;
        flex-direction: column;
    }

    .head {
        grid-area: head;
        display: grid;
        grid-template-columns: 60% 40%;
        justify-content: stretch;
    }

    .subhead_head {
        display: grid;
        grid-template-columns: 50% 35%;
        justify-content: space-evenly;
        gap: 10px;
        align-items: center;
    }

    .subhead {
        grid-area: subhead;
        display: grid;
        grid-template-columns: 60% 35%;
        justify-content: space-between;
    }

    .subhead_subsection {
        display: grid;
        grid-template-columns: 60% 35%;
        justify-items: center;
        gap: 20px;
    }

    .main {
        grid-area: main;
        /*{#background-color: #5C787C;#}*/
    }
table {
  /*border-collapse: separate;*/
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /*background:  radial-gradient(farthest-corner at 50% 50%, white, #e5ebf2);*/
  color: #0C213B;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}
td{
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #454545;
  /*border: 1px solid #A9E2CC;*/
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  outline: 1px solid #494a4f;
  border-radius: 1px;
  border: none;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
    .searchBox {
        background: #ededed;
        /*{#height: 25px;#}*/
        border-radius: 10px;
        padding: 10px;
        position: relative;
        margin: 0 auto;

    }


    .searchBox:hover > .searchButton {
        background: white;
        color: #ededed;
    }


    .searchInput {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 100%;

    }

    input{
        border: initial;
    }

    @media (max-width: 750px) {
        .containerNewDesign {
            display: flex;
            flex-direction: column;
        }

        .left-menu {

            Display: flex;
            flex-direction: row;
        }
    }