<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "indexShablon_head.html" %}

</head>

<body>

<div id="wrapper">
    {% include "indexShablon.html" %}
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div >
                        <div >
                            <span class="font-weight-bold">Edogaru</span>
                            <span class="text-black-50">edogaru@mail.com.my</span>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Profile Settings</h4>
                            </div>
                                <div class="col-md-6"><label class="labels">Имя</label><input type="text"
                                                                                              class="form-control"
                                                                                              placeholder="first name"
                                                                                              value=""></div>
                                <div class="col-md-6"><label class="labels">Фамилия</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  value=""
                                                                                                  placeholder="surname">
                                </div>

                            <div class="col-md-12"><label class="labels">Мобильный телефон</label><input type="text"
                                                                                                         class="form-control"
                                                                                                         value="">
                            </div>

                            <div class="col-md-12"><label class="labels">Рабочий телефон</label>
                                <input type="text" class="form-control" value="">
                            </div>

                            <div class="col-md-12"><label class="labels">Аккаунт Теллеграм</label>
                                <input type="text" class="form-control" value="">
                            </div>

                            <div class="col-md-12"><label class="labels">Адрес</label><input type="text"
                                                                                             class="form-control"
                                                                                             placeholder="enter address line 1"
                                                                                             value="">
                            </div>
                            <div class="col-md-12"><label class="labels">Кабинет</label><input type="text"
                                                                                               class="form-control"
                                                                                               placeholder="enter address line 2"
                                                                                               value="">
                            </div>

                            <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                                                                                class="form-control"
                                                                                                placeholder="enter email id"
                                                                                                value=""></div>

                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                    </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>

{% include "indexShablon_end.html" %}


</body>

</html>

