<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "indexShablon_head.html" %}

</head>

<body>

<div id="wrapper">
    {% include "indexShablon.html" %}
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        <small>с описанием процессов</small>
                    </h1>

                </div>


            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <i class="fa fa-share-square-o fa-5x"></i>
                            <h1 id="zadachi_no_work"></h1>
                        </div>
                        <a href="/userprofile/UserTask"><div class="panel-footer back-footer-red">
                            Задачи не вязтые в работу
                        </div></a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue">
                        <div class="panel-body">
                            <i class="fa fa-info-circle fa-5x"></i>
                            <h1  id="zadachi_in_work"></h1>
                        </div>
                        <a href="/userprofile/UserTask?id=in work"><div class="panel-footer back-footer-blue">
                            Мои задачи над которыми я работаю

                        </div></a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue">
                        <div class="panel-body">
                            <i class="fa fa-pencil-square fa-5x"></i>
                            <h1  id="department_task"></h1>
                        </div>
                        <div class="panel-footer back-footer-blue">
                            Задачи на мой отдел

                        </div>
                    </div>
                </div>

{##}
{#                <div class="col-md-3 col-sm-12 col-xs-12">#}
{#                    <div class="panel panel-primary text-center no-boder bg-color-red">#}
{#                        <div class="panel-body">#}
{#                            <i class="fa fa fa-comments fa-5x"></i>#}
{#                            <h3>15,823 </h3>#}
{#                        </div>#}
{#                        <div class="panel-footer back-footer-green">#}
{#                            Comments#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-3 col-sm-12 col-xs-12">#}
{#                    <div class="panel panel-primary text-center no-boder bg-color-brown">#}
{#                        <div class="panel-body">#}
{#                            <i class="fa fa-users fa-5x"></i>#}
{#                            <h3>36,752 </h3>#}
{#                        </div>#}
{#                        <div class="panel-footer back-footer-brown">#}
{#                            No. of Visits#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

    {% include "indexShablon_end.html" %}



</body>

</html>