{#        <div class="panel-body">#}
<div class="row">
    {#                <div class="col-lg-12">#}
    <form role="form" id="formFrame">
        <div class="tabsCalcylator">
            <div class="tabsCalcylator__head">
                <div class="tabsCalcylator__caption" data-tab="enginer_pto">Инженер ПТО</div>
                <div class="tabsCalcylator__caption" data-tab="supplier">Снабжение</div>
                <div class="tabsCalcylator__caption" data-tab="boss_enginer_pto">Главный инженер</div>
                <div class="tabsCalcylator__caption" data-tab="boss">Директор</div>
                {#                                    <div class="tabs__caption" data-tab="about">Главный Инженер</div>#}
                {#                                    <div class="tabs__caption" data-tab="about">Руководитель</div>#}
            </div>
            <div class="tabsCalcylator__body">
                <div class="tabsCalcylator__content" data-tab="enginer_pto">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Список полей ПТО
                        </div>
                        {% include "TechTask/techTaskFormEdit_FormPTO.html" %}

                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="tabsCalcylator__content" data-tab="supplier">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Список полей supplier
                        </div>
                        {% include "TechTask/techTaskFormEdit_FormSupplier.html" %}

                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="tabsCalcylator__content" data-tab="boss_enginer_pto">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Список главный инженер
                        </div>
                        {% include "TechTask/techTaskFormEdit_FormPTO.html" %}

                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="tabsCalcylator__content" data-tab="boss">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            список полей Директор
                        </div>
                        {% include "TechTask/techTaskFormEdit_FormPTO.html" %}

                    </div>

                </div>
                <div class="tabsCalcylator__content" data-tab="about">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        {% include "TechTask/techTaskFormEdit_FormNEW.html" %}

                    </div>

                </div>

            </div>
        </div>

    </form>
    {#                </div>#}
</div>
</div>


<script>

    function pereschetTotalSum() {
        let arr_test = []
        $(`#first_table tbody`).each(function () {
            arr_test.push(this.id.slice(this.id.lastIndexOf('_') + 1));
        });
        let arr_index = []
        for (let i = 0; i < arr_test.length; i += 5) {
            if (!isNaN(arr_test[i])) {
                arr_index.push(arr_test[i])
            }
        }
        console.warn('@@@arr_index = ', arr_index);
        let sum = 0;


        for (i of arr_index) {
            if (Object.keys(obj_global_sum).indexOf('ВСЕГО_' + i) != -1) {
                sum += Number(obj_global_sum['ВСЕГО_' + i])
            }
        }
        obj_global_sum['result_total'] = sum.toFixed(2)
        $(`#result_total`)[0].childNodes[3].childNodes[13].innerText = obj_global_sum['result_total'];
    }

    function pereschetTotalNDS() {
        let arr_test = []
        $(`#first_table tbody`).each(function () {
            arr_test.push(this.id.slice(this.id.lastIndexOf('_') + 1));
        });
        let arr_index = []
        for (let i = 0; i < arr_test.length; i += 5) {
            if (!isNaN(arr_test[i])) {
                arr_index.push(arr_test[i])
            }
        }
        let sum = 0;

        for (i of arr_index) {
            if (Object.keys(obj_global_sum).indexOf('ВСЕГО_НДС_' + i) != -1) {
                sum += Number(obj_global_sum['ВСЕГО_НДС_' + i])
            }
        }
        $('#result_total')[0].childNodes[5].childNodes[13].innerText = sum.toFixed(2)

    }

    function func_sum_vsego_razdel(elem_stroka) {
        let sum = 0;


        let summa_v_itogo = 0;
        let id_for_itogo = elem_stroka.parentElement.parentElement.id.slice(elem_stroka.parentElement.parentElement.id.lastIndexOf('_') + 1)
        console.log('id_for_itogo: ', id_for_itogo)
        console.log('elem_stroka: ', elem_stroka.parentElement.parentElement.id.lastIndexOf('_') + 1)

        if (Object.keys(obj_global_sum).indexOf('Накладные_расходы_' + id_for_itogo) != -1 && obj_global_sum['Накладные_расходы_' + id_for_itogo] != '' && obj_global_sum['earthWorks_costWork_' + id_for_itogo] != '') {

            summa_v_itogo += Number(obj_global_sum['Накладные_расходы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_costWork_' + id_for_itogo]
            if (document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[3].childNodes[13].innerText != Number(obj_global_sum['Накладные_расходы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_costWork_' + id_for_itogo]) {
                document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[3].childNodes[13].innerText = (Number(obj_global_sum['Накладные_расходы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_costWork_' + id_for_itogo]).toFixed(2)
            }
        }
        if (Object.keys(obj_global_sum).indexOf('Вспомогательные_материалы_' + id_for_itogo) != -1 && obj_global_sum['Вспомогательные_материалы_' + id_for_itogo] != '' && obj_global_sum['earthWorks_costMaterial_' + id_for_itogo] != '') {
            summa_v_itogo += Number(obj_global_sum['Вспомогательные_материалы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_costMaterial_' + id_for_itogo]
            if (document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[5].childNodes[13].innerText != Number(obj_global_sum['Вспомогательные_материалы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_costMaterial_' + id_for_itogo]) {
                document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[5].childNodes[13].innerText = (Number(obj_global_sum['Вспомогательные_материалы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_costMaterial_' + id_for_itogo]).toFixed(2)
            }
        }
        if (Object.keys(obj_global_sum).indexOf('Транспортные_расходы_' + id_for_itogo) != -1 && obj_global_sum['Транспортные_расходы_' + id_for_itogo] != '' && obj_global_sum['earthWorks_Special_' + id_for_itogo] != '') {
            summa_v_itogo += Number(obj_global_sum['Транспортные_расходы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_Special_' + id_for_itogo]
            if (document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[7].childNodes[13].innerText != Number(obj_global_sum['Транспортные_расходы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_Special_' + id_for_itogo]) {
                document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[7].childNodes[13].innerText = (Number(obj_global_sum['Транспортные_расходы_' + id_for_itogo]) / 100 * obj_global_sum['earthWorks_Special_' + id_for_itogo]).toFixed(2)
            }
        }
        console.log('summa_v_itogo ', summa_v_itogo.toFixed(2))
        if (summa_v_itogo >= 0 && obj_global_sum['earthWorks_Total_' + id_for_itogo] != '') {
            obj_global_sum['ВСЕГО_' + id_for_itogo] = (Number(obj_global_sum['earthWorks_Total_' + id_for_itogo]) + Number(summa_v_itogo.toFixed(2))).toFixed(2);
            console.log("присвоение ", obj_global_sum['earthWorks_Total_' + id_for_itogo], ' + ', Number(summa_v_itogo.toFixed(2)))

            pereschetTotalSum();
        }
        {#else {
               obj_global_sum['ВСЕГО_'+elem_stroka.parentElement.id.slice(elem_stroka.parentElement.id.lastIndexOf('_')+1)] = obj_global_sum['earthWorks_Total_'+ elem_stroka.parentElement.id.slice(elem_stroka.parentElement.id.lastIndexOf('_')+1)]
           }#}
        if (obj_global_sum['ВСЕГО_' + id_for_itogo] != '' && !isNaN(obj_global_sum['ВСЕГО_' + id_for_itogo])) {
            document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[9].childNodes[13].innerText = obj_global_sum['ВСЕГО_' + id_for_itogo];
        }

        document.getElementById('earthWorks_Total_' + id_for_itogo).childNodes[1].childNodes[7].innerText = Number(obj_global_sum['earthWorks_Total_' + id_for_itogo]).toFixed(2);


    }


    function del_func(event) {
        {#console.log('eventDel_razdel ' + event.target.id.slice(event.target.id.lastIndexOf('_')+1))#}
        console.log('event!!!')
        console.log(event)
        let zaglav = document.getElementById(`zagolovok_${event.target.id.slice(event.target.id.lastIndexOf('_') + 1)}`);
        zaglav = zaglav.value;
        arr_zaglav.splice(arr_zaglav.indexOf(zaglav), 1);

        let cifra = event.target.id.slice(event.target.id.lastIndexOf('_') + 1);
        arr_coll_table.splice(arr_coll_table.indexOf(Number(event.target.id.slice(event.target.id.lastIndexOf('_') + 1))), 1)
        {#console.log(arr_zaglav);#}

        document.getElementById(`earthWorks_${event.target.id.slice(event.target.id.lastIndexOf('_') + 1)}`).remove()
        document.getElementById(`earthWorks_costWork_${event.target.id.slice(event.target.id.lastIndexOf('_') + 1)}`).remove()
        document.getElementById(`earthWorks_costMaterial_${event.target.id.slice(event.target.id.lastIndexOf('_') + 1)}`).remove()
        document.getElementById(`earthWorks_Special_${event.target.id.slice(event.target.id.lastIndexOf('_') + 1)}`).remove()
        document.getElementById(`earthWorks_Total_${event.target.id.slice(event.target.id.lastIndexOf('_') + 1)}`).remove()
        let arr_test = []
        $(`#first_table tbody`).each(function () {
            arr_test.push(this.id);
        });
        {#console.log('arr_test = ' + arr_test.length)#}
        console.warn(arr_test)
        if (arr_test.length == 1) {
            document.getElementById(`result_total`).remove()
            document.getElementById('style_table').style.display = 'none';
            document.getElementById("saveTable").style.display = "none";
        }
        pereschetTotalSum();
        pereschetTotalNDS();
        counterTr();
    }

    {#console.log("getTechTaskName",{{getTechTaskName.NameTechTask|tojson|safe}})#}
    let response = await fetch('/techTask/formPtoGet', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            Accept: 'application/json',
            "Authorization": getCookieValue("Authorization")
        },
        body: JSON.stringify({"NameTechTask_key": {{getTechTaskName.NameTechTask|tojson|safe}}})
    });
    let responseText = await response.text();
    console.log("formPtoGet", JSON.parse(responseText))
    if (response.status == 200) {
        document.getElementById("first_table").innerHTML = JSON.parse(responseText).value_table
        document.getElementById("first_table_supplier").innerHTML = JSON.parse(responseText).value_table
        document.getElementById("style_table").style.display = "block";
        document.getElementById("saveTable").style.display = "block";
        {#seach_ID_table(JSON.parse(responseText).value_table);#}
        {#console.log(seach_ID_table('tbody','earthWorks_'))#}
        for_event_tr('tr', 'stroka_');
        up_obj_global_sum();
        for_total_table();
        {#alert({{roles_user|tojson|safe}})#}
        table_roles(JSON.parse({{roles_user|tojson|safe}})[0])

        $("button[id ^='del_razdel_']").on("click", function (event) {
            del_func(event)

        })
    }

    function table_roles(role) {


        console.warn('!!!!', (role == 'Admin'))
        if (role == 'Admin') {
            console.warn('admin!')
            $('.CostMaterial_disabled').attr("contenteditable", "true") // tbody Стоимость материала раздел ПТО
            $('.costWork_role_supplier').attr("contenteditable", "true") // блок снабжение
            $('.costWork_role_boss').attr("contenteditable", "true") // блок руководитель в разделе Стоимость работ
//('data-title' , "Введите корректное значение")
            $('.CostMaterial_disabled_input').removeAttr("readonly")//$('.CostMaterial_disabled_input').attr("readonly","readonly")

            {#$('.tehstolbec').attr("style","display: none;")#}
        } else if (role == 'supplier') {
            $('.CostMaterial_disabled').attr("contenteditable", "false")
            $('.costWork_role_supplier').attr("contenteditable", "true")
            $('.costWork_role_boss').attr("contenteditable", "false")
            $('.CostMaterial_disabled_input').attr("readonly", "readonly") //$('.CostMaterial_disabled_input').removeAttr("readonly")
            {#$('.tehstolbec').attr("style","display: block;")#}
        } else if (role == 'ENGINEER') {
            $('.CostMaterial_disabled').attr("contenteditable", "true") // tbody Стоимость материала раздел ПТО
            $('.costWork_role_supplier').attr("contenteditable", "false") // блок снабжение
            $('.costWork_role_boss').attr("contenteditable", "false") // блок руководитель в разделе Стоимость работ
            $('.costWork_role_boss').attr("data-title", "неподходящая роль для ввода/изменения данных") // блок руководитель в разделе Стоимость работ
//('data-title' , "Введите корректное значение")
            $('.CostMaterial_disabled_input').attr("readonly", "readonly") //$('.CostMaterial_disabled_input').removeAttr("readonly")
        }
    }


    function table_roles(role) {


        console.warn('!!!!', (role == 'Admin'))
        if (role == 'Admin') {
            console.warn('admin!')
            $('.CostMaterial_disabled').attr("contenteditable", "true") // tbody Стоимость материала раздел ПТО
            $('.costWork_role_supplier').attr("contenteditable", "true") // блок снабжение
            $('.costWork_role_boss').attr("contenteditable", "true") // блок руководитель в разделе Стоимость работ
//('data-title' , "Введите корректное значение")
            $('.CostMaterial_disabled_input').removeAttr("readonly")//$('.CostMaterial_disabled_input').attr("readonly","readonly")

            {#$('.tehstolbec').attr("style","display: none;")#}
        } else if (role == 'supplier') {
            $('.CostMaterial_disabled').attr("contenteditable", "false")
            $('.costWork_role_supplier').attr("contenteditable", "true")
            $('.costWork_role_boss').attr("contenteditable", "false")
            $('.CostMaterial_disabled_input').attr("readonly", "readonly") //$('.CostMaterial_disabled_input').removeAttr("readonly")
            {#$('.tehstolbec').attr("style","display: block;")#}
        } else if (role == 'ENGINEER') {
            $('.CostMaterial_disabled').attr("contenteditable", "true") // tbody Стоимость материала раздел ПТО
            $('.costWork_role_supplier').attr("contenteditable", "false") // блок снабжение
            $('.costWork_role_boss').attr("contenteditable", "false") // блок руководитель в разделе Стоимость работ
            $('.costWork_role_boss').attr("data-title", "неподходящая роль для ввода/изменения данных") // блок руководитель в разделе Стоимость работ
//('data-title' , "Введите корректное значение")
            $('.CostMaterial_disabled_input').attr("readonly", "readonly") //$('.CostMaterial_disabled_input').removeAttr("readonly")
        }
    }
function seach_ID_table(elem,id){

            let temp = $(`#first_table ${elem}"]`); // из-за конструкции jquery

    let arr_search_id = []
                for (let key in temp) {
    if (temp.hasOwnProperty(key)) {

                 arr_search_id.push(temp[key].id)
        }
    }

                         return max_id_tr(arr_search_id); // Макимальный ID

}

</script>
