<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    {% include "indexShablon_head.html" %}

</head>

<body>
<div id="wrapper">
    {% include "indexShablon.html" %}
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-9">
                    <h1 class="page-header">
                        Список текущих задач <small>с описанием процессов</small>
                    </h1>

                </div>
                <div class="col-md-3">
                    <button onclick="location.href = '/main/techTaskForm.html';" style="    " class="text-center"
                            type="button">Добавить новое задание
                    </button>
                </div>

            </div>
            <!-- /. ROW  -->
            <!--//////////////////////////////////////////////////-->

            <!--//////////////////////////////////////////////////-->
            <!--//////////////////////////////////////////////////-->

            <div class="row">

                <div class="panel col-md-12 col-sm-12 col-xs-12">

                    <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Наименнование объекта
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Наименнование заказчика
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Статус
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Действие
                        </div>
                    </div>

                </div>
            </div>


            {% for getAllTask in getAllTask_S|reverse %}
                <div class="row">

                    <div class="panel col-md-12 col-sm-12 col-xs-12">

                        <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                            <div class="panel-body">
                                <div>
                                    {{ getAllTask.NameTechTask }}

                                </div>
                            </div>
                        </div>


                        <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                            <div class="panel-body">
                                <div>
                                    {{ getAllTask.TechTaskClient }}
                                </div>
                            </div>
                        </div>

                        <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">
                            <div class="panel-body">
                                <div id="status_{{getAllTask.id}}">
                                    Тестирование
                                </div>
                            </div>
                        </div>
                        <script>
                            console.log("getAllTask", {{ getAllTask|tojson }})
                            list_user_tasks = {{ getAllTask.ListUserTask|tojson }}
                                console.log("list_user_task11",list_user_tasks)

                             info_status = ""
                            for (list_user_task of list_user_tasks) {
                                console.log("list_user_task11",list_user_task)
                                let info_Ispolnitel = ""
                                for (executor of list_user_task.UserPfofile_executor) {
                                    info_Ispolnitel += `${executor.first_name} ${executor.last_name},`
                                }
                                info_Ispolnitel.trim(",")
                            console.log("info_status",info_status)

                                info_status += `<div>Создал задачу: ${list_user_task.UserPfofile_create.first_name} ${list_user_task.UserPfofile_create.last_name}\nИсполнитель: ${info_Ispolnitel}\n Статус: ${list_user_task.status}\n контрольный срок: ${list_user_task.target_date} </div><div></div>`
                            }
                            console.log("info_status",info_status)
                            if (list_user_tasks.length == 0) {
                                info_status = "Еще не было активных задач"
                                document.getElementById("status_{{getAllTask.id}}").style.backgroundColor = '#ff9090'
                            } else if (info_status == "") {
                                info_status = "Все задачи выполнены"
                                document.getElementById("status_{{getAllTask.id}}").style.backgroundColor = '#5cb85c'

                            } else {
                                console.log("backgroundColor")
                                document.getElementById("status_{{getAllTask.id}}").style.backgroundColor = '#f0ad4e'
                            }

                            document.getElementById("status_{{getAllTask.id}}").innerHTML = info_status

                        </script>


                        <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">

                            <!--                    <div class="text-center  row-md-2">-->
                            <div class="panel-heading">
                                <button id="getAllTask_{{ getAllTask.id }}"
                                        onclick="location.href = '/main/techTaskFormEdit.html?NameTechTask={{ getAllTask.NameTechTask }}';"
                                        style="    " class="text-center" type="button">
                                    Изменить/посмотреть
                                </button>

                            </div>

                        </div>
                        <script>
                            $("#getAllTask_{{getAllTask.id}}").on("click", function () {
                                console.log(999)
                            })
                        </script>


                    </div>
                </div>
            {% endfor %}
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
{% include "indexShablon_end.html" %}


</body>
<script src="{{ url_for('static', path='main/techTask.js') }}"></script>

</html>