<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>console.log("roles_userroles_userroles_user", {{roles_user|tojson|safe}})
console.log("get_UserTaskget_UserTaskget_UserTask", {{get_UserTask|tojson|safe}})
console.log("AuthorAuthor", {{getTechTaskName.user_name|tojson|safe}})
</script>
<head>
    {% include "indexShablon_head.html" %}

</head>
{#<script type="text/javascript" src="static/techTaskFormEditScript.js"></script>#}
<body>
<div id="wrapper">
    {% include "indexShablon.html" %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Создание технического задания
                    </h1>
                </div>
            </div>


            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="section col-lg-12">

                        <div class="">
                            <div class="section__tabs tabs">
                                <div class="tabs__head">
                                    <div class="tabs__caption" data-tab="main">Тех Задание</div>
                                    <div class="tabs__caption" data-tab="pto">Расчет стоимости</div>
                                    <div class="tabs__caption" data-tab="KP">КП</div>

                                    {#                                    <div class="tabs__caption" data-tab="about">Главный Инженер</div>#}
                                    {#                                    <div class="tabs__caption" data-tab="about">Руководитель</div>#}
                                </div>
                                <div class="tabs__body">
                                    <div class="tabs__content" data-tab="main">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Список полей
                                            </div>
                                            {% include "TechTask/techTaskFormEdit_FormMainTask.html" %}

                                            <!-- /.panel-body -->
                                        </div>
                                    </div>

                                    <div class="tabs__content" data-tab="pto">
                                        <div class="panelCalcylator panel-default">
{#                                            <div class="panel-heading">#}
{##}
{#                                            </div>#}
                                            {% include "TechTask/techTaskFormEdit_Calcylator.html" %}

                                        </div>

                                    </div>
                                    <div class="tabs__content" data-tab="KP">
                                        <div class="panel panel-default">

                                            {% include "TechTask/techTaskFormEdit_FormKP.html" %}

                                            <!-- /.panel-body -->
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <script>
                var search = location.search.substring(1);
                let nameTT = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}', function (key, value) {
                    return key === "" ? value : decodeURIComponent(value)
                })
                const postData = async (url = '', data = {}) => {
                    // Формируем запрос
                    const response = await fetch(url, {
                        // Метод, если не указывать, будет использоваться GET
                        method: 'GET',
                        // Заголовок запроса
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        // Данные
                        // body: JSON.stringify(data)
                    });
                    {#return response.json();#}
                }
                postData('/main/getTechTaskNameTechTask?NameTechTask=' + nameTT.NameTechTask)
                    .then((data) => {
                        console.log('------успех-----', data);
                    }).catch((err) => {
                    console.log('------badly-----', err);
                })


                document.addEventListener('DOMContentLoaded', () => { // Структура страницы загружена и готова к взаимодействию

                    let elem_obj = {}
                    elem_obj.TechTaskProject = JSON.stringify(window.vlozheniya)

                    function validForm(obj) {
                        valid = true
                        console.log('validForm', obj)
                        let elements = $('form').serializeArray();
                        console.log('client1', elements)
                        for (let key of elements) {
                            elem_obj[key.name] = key.value
                            if (key.value == '' || key.value == '[]') {
                                valid = false
                                console.warn(key, key.name, key.value)
                                document.getElementsByName(key.name)[0].setAttribute("required", true)
                            } else {
                                document.getElementsByName(key.name)[0].removeAttribute("required")
                            }
                        }

                        console.log("idButtonArridButtonArr",idButtonArr)
                        if (window.vlozheniya.length == 0) {


                            console.warn('TechTaskProject', window.vlozheniya)
                            if (idButtonArr.length > 1) {
                                document.getElementById('Form_input' + Number(idButton - 1)).setAttribute("required", true)
                                document.getElementById('Form_file' + Number(idButton - 1)).setAttribute("required", true)
                                document.getElementById('Form_input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');
                            } else {
                                document.getElementById('addFile').setAttribute("class", 'valid_button')
                            }


                            valid = false

                        }
                        {#else if (idButtonArr.length >= 2 && document.getElementById('Form_file' + Number(idButtonArr[idButtonArr.length - 2])).value == '') {#}
                        {#    console.warn('TechTaskProject', window.vlozheniya)#}
                        {#    document.getElementById('Form_input' + Number(idButton - 1)).setAttribute("required", true)#}
                        {#    document.getElementById('Form_file' + Number(idButton - 1)).setAttribute("required", true)#}
                        {#    document.getElementById('Form_input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');#}
                        {#    alert('valid')#}
                        {#    valid = false#}
                        //}

                        return valid
                    }

                    document.getElementById('createTicket').onclick = function (event) {

                        {#console.log()#}
                        event.preventDefault()

                        if (validForm(document.getElementById('formFrame'))) {

                            // Определяем функцию которая принимает в качестве параметров url и данные которые необходимо обработать:
                            const postData2 = async (url = '', data = {}) => {
                                // Формируем запрос
                                data.TechTaskProject = JSON.stringify(window.vlozheniya)

                                const response = await fetch(url, {
                                    // Метод, если не указывать, будет использоваться GET
                                    method: 'POST',
                                    // Заголовок запроса
                                    headers: {
                                        "Authorization": getCookieValue("Authorization"),
                                        'Content-Type': 'application/json'
                                    },
                                    // Данные
                                    body: JSON.stringify(data)
                                });
                                if (response.status == 409) {
                                    alert('Ошибка:' + (response.status) + ' Наименнование объекта уже существует')
                                    console.log('Ошибка', (response.status))

                                    let emailInput = document.getElementsByName('NameTechTask');
                                    emailInput.focus();

                                }
                                // читаем ответ в формате JSON
                                {#console.log('response.json():', response.json())#}

                                {#return response.json();#}
                            }
                            postData2('/main/update_value', elem_obj)
                                .then((data) => {
                                    console.log('------успех-----', data);
                                    window.location.href = '/main/techTask.html';
                                }).catch((err) => {
                                console.log('------badly-----', err);
                            })

                        } else {
                            event.preventDefault()
                        }
                    }


                    const tabs = () => { // объявляем основную функцию для вкладок, чтобы вся логика была в одном месте
                        const head = document.querySelector('.tabs__head') // ищем элемент с кнопками и записываем в константу
                        const body = document.querySelector('.tabs__body') // ищем элемент с контентом и записываем в константу
                        const head2 = document.querySelector('.tabsCalcylator__head') // ищем элемент с кнопками и записываем в константу
                        const body2 = document.querySelector('.tabsCalcylator__body')
                        const getActiveTabName = () => { // объявляем функцию для получения названия активной вкладки
                            console.log('TABS')
                            console.log(head.querySelector('.tabs__caption_active').dataset.tab)
                            if (head.querySelector('.tabs__caption_active').dataset.tab == 'pto') {

                                //$('.pto').attr("style", "display:block")
                                if (head2.querySelector('.tabsCalcylator__caption_active')) { // если уже есть активная кнопка
                                    head2.querySelector('.tabsCalcylator__caption_active').classList.remove('tabsCalcylator__caption_active') // то удаляем ей активный класс
                                }

                                head2.querySelector('.tabsCalcylator__caption').classList.add('tabsCalcylator__caption_active')
                                setActiveContent2()

                            }
                            if (head.querySelector('.tabs__caption_active').dataset.tab == 'KP') {
                            console.log('warn!')

                            {#document.getElementById("KP_table").innerHTML = (document.getElementById("first_table").innerHTML);#}
                            if ($('#first_table tbody').length > 0){
                                KP_table();
                            }


                            }
                            return head.querySelector('.tabs__caption_active').dataset.tab // возвращаем значение data-tab активной кнопки
                        }
                        const setActiveContent2 = () => { // объявляем функцию для установки активного элемента контента
                            if (body2.querySelector('.tabsCalcylator__content_active')) { // если уже есть активный элемент контента
                                body2.querySelector('.tabsCalcylator__content_active').classList.remove('tabsCalcylator__content_active') // то скрываем его
                            }
                            body2.querySelector(`[data-tab='enginer_pto']`).classList.add('tabsCalcylator__content_active')
                            document.getElementById("table_pto").appendChild(document.getElementById("first_table"));

                        }

                        const setActiveContent = () => { // объявляем функцию для установки активного элемента контента
                            if (body.querySelector('.tabs__content_active')) { // если уже есть активный элемент контента
                                body.querySelector('.tabs__content_active').classList.remove('tabs__content_active') // то скрываем его
                            }

                            body.querySelector(`[data-tab=${getActiveTabName()}]`).classList.add('tabs__content_active') // затем ищем элемент контента, у которого значение data-tab совпадает со значением data-tab активной кнопки и отображаем его
                        }


// проверяем при загрузке страницы, есть ли активная вкладка
                        if (!head.querySelector('.tabs__caption_active')) {  // если активной вкладки нет
                            head.querySelector('.tabs__caption').classList.add('tabs__caption_active') // то делаем активной по-умолчанию первую вкладку
                        }

                        setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой при загрузке страницы

                        head.addEventListener('click', e => { // при клике на .tabs__head
                            const caption = e.target.closest('.tabs__caption') // узнаем, был ли клик на кнопке
                            if (!caption) return // если клик был не на кнопке, то прерываем выполнение функции
                            if (caption.classList.contains('tabs__caption_active')) return // если клик был на активной кнопке, то тоже прерываем выполнение функции и ничего не делаем

                            if (head.querySelector('.tabs__caption_active')) { // если уже есть активная кнопка
                                head.querySelector('.tabs__caption_active').classList.remove('tabs__caption_active') // то удаляем ей активный класс
                            }

                            caption.classList.add('tabs__caption_active') // затем добавляем активный класс кнопке, на которой был клик

                            setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой
                        })
                    }

                    tabs() // вызываем основную функцию

                })
            </script>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
{% include "indexShablon_end.html" %}


</body>
<script>
      console.log('!@#')
      var tx = document.getElementsByTagName('textarea');//РАСТЯГИВАЕМ_textarea
        for (var i = 0; i < tx.length; i++) {
            //tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
            tx[i].addEventListener("focus", OnInput, false);
            tx[i].addEventListener("input", OnInput, false);
            tx[i].addEventListener("focusout", OnOutFocus);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';//////console.log(this.scrollHeight);
        }
        function OnOutFocus() {
            this.style.height = 'auto';
        }



                                            let my_elements = $('textarea[name^=TechTask]')
                                            console.log('client1', my_elements)
                                            for (let i = 0; i<my_elements.length; i++) {
                                            let temp = my_elements[i]
                                                console.log('temp=' + temp)
                                                console.log(temp.height)
                                                temp.setAttribute('height','1px')

                                                console.log(my_elements[i].style)
                                            }
    function KP_table(){
    let kp_table_text = ''
    //document.getElementById("KP_table").innerHTML = (document.getElementById("first_table").innerHTML);

    //$('#first_table')[0]
    //console.log($('#first_table tbody tr'))
    let temp_table = $('#first_table tbody')

    // иду по всем tbody таблицы
    for (let i=0; i<temp_table.length; i++){
    console.log(temp_table[i])

    if (temp_table[i].id.indexOf('earthWorks_')!= -1 && temp_table[i].id.indexOf('earthWorks_Total_') == -1 && temp_table[i].id.indexOf('earthWorks_costWork_')== -1 && temp_table[i].id.indexOf('earthWorks_costMaterial_')== -1 && temp_table[i].id.indexOf('earthWorks_Special_') == -1){
     kp_table_text += '<tr> <td colspan="6" style="font-weight: bold;">'+temp_table[i].childNodes[1].childNodes[0].childNodes[0].value+'</td></tr>'
     kp_table_text += `<tr style="background-color: #fce1b3">
                            <td>№</td>
                            <td rowspan="2" style="font-weight: bold;">Наименование</td>
                            <td colspan="4" style="font-weight: bold;">Стоимость</td>
                      </tr>

                        <tr style="background-color: #fce1b3">
                            <td style="font-weight: bold;">п/п</td>
                            <td style="font-weight: bold;">Ед.изм.</td>
                            <td style="font-weight: bold;">Кол-во</td>
                            <td style="font-weight: bold;">Цена</td>
                            <td style="font-weight: bold;">Всего</td>
                        </tr>`;
    }

    // логика для tbody costWork costMaterial Special
     if (temp_table[i].id.indexOf('earthWorks_costWork_')!= -1 || temp_table[i].id.indexOf('earthWorks_costMaterial_')!= -1 || temp_table[i].id.indexOf('earthWorks_Special_')!= -1){
        // строчка заголовка tbody
        kp_table_text += '<tr style="background-color: #baffae;font-weight: bold;">';
        kp_table_text += '<td colspan="5">' + temp_table[i].childNodes[1].childNodes[5].innerHTML + '</td>'
        kp_table_text += '<td>' +  temp_table[i].childNodes[1].childNodes[7].innerHTML + '</td>'
        kp_table_text += '</tr>';
        // иду по всем tr имеющим атрибут id
        let temp_tbody_tr = $(`#${temp_table[i].id} tr[id]`)
        for (let j=0; j<temp_tbody_tr.length; j++){
            console.log(temp_tbody_tr[j])
            kp_table_text += '<tr>';
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[3].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[5].childNodes[1].childNodes[1].value + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[7].childNodes[1].childNodes[1].value + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
            kp_table_text += '</tr>';
            //console.log(temp_tbody_tr[i].childNodes[3].innerHTML)

        }
    } else if (temp_table[i].id.indexOf('earthWorks_Total_')!= -1){
         // строчка заголовка tbody
        kp_table_text += '<tr style="background-color: #baffae;font-weight: bold;">';
        kp_table_text += '<td colspan="5">' + temp_table[i].childNodes[1].childNodes[5].innerHTML + '</td>'
        kp_table_text += '<td>' +  temp_table[i].childNodes[1].childNodes[7].innerHTML + '</td>'
        kp_table_text += '</tr>';
        // иду по всем tr имеющим атрибут id
        let temp_tbody_tr = $(`#${temp_table[i].id} tr[id]`)
        for (let j=0; j<temp_tbody_tr.length; j++){
            console.log(temp_tbody_tr[j])
            kp_table_text += '<tr>';
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[3].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[5].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[7].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[9].innerHTML + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
            kp_table_text += '</tr>';
            //console.log(temp_tbody_tr[i].childNodes[3].innerHTML)

        }
    }




    }
        let footer = document.getElementById('result_total')
    kp_table_text += '<tr><td colspan="6"></td></tr>'

    kp_table_text += '<tr><td></td>'+'<td>'+ footer.childNodes[3].childNodes[5].innerHTML +'</td>'+'<td>'+ footer.childNodes[3].childNodes[13].innerHTML +'</td>' + '</tr>';
    kp_table_text += '<tr><td></td>'+'<td>'+ footer.childNodes[5].childNodes[5].innerHTML +'</td>'+'<td>'+ footer.childNodes[5].childNodes[13].innerHTML +'</td>' + '</tr>';

       document.getElementById("KP_table").innerHTML = kp_table_text
    }

</script>


</html>
