<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "indexShablon_head.html" %}

</head>

<body>
<div id="wrapper">

    {% include "indexShablon.html" %}

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Создание технического задания
                    </h1>
                </div>
            </div>


            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Список полей
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" id="formFrame">


                                        <div class="form-group" style="margin-top: 15px">
                                            <label>Наименнование заказчика</label>
                                            <input name="TechTaskClient" value="" class="form-control"
                                                   placeholder="Введите описание" >
                                        </div>


                                        <div class="form-group">
                                            <label>Наименнование объекта</label>
                                            <input name="NameTechTask" class="form-control"
                                                   placeholder="Введите описание">
                                        </div>

                                        {# <div name="TechTaskProject_form" class="form-group addFile">
                                            <label>Проект/чертеж</label>
                                            <!--                                            <form id="myForm" action="/submit" method="post">-->

                                            <input name="TechTaskProject" type="file" id="file" name="file"/>
                                            <!--                                            </form>-->

                                        </div>#}
                                        <!-- Добавление новой кнопки -->
                                        <div name="TechTaskProject_form" class="form-group ">
                                            <!--     DOM                                        <form id="myForm" action="/submit" method="post">-->
                                            <!-- hidden="true"-->
                                            <div id="testText" class="testText"></div>
                                            <input id="addFile" type="button" value="Добавить вложение"
                                                   name="TechTaskProject">

                                        </div>
                                        <!--                                            </form>"-->


                                        <!--    <form id="myForm" action="/submit" method="post">-->
                                        <!--      <input type="file" onclick="submitForm(event)">-->
                                        <!--&lt;!&ndash;      <input type="submit" value="Отправить" onclick="submitForm(event)">&ndash;&gt;-->
                                        <!--    </form>-->

                                        <script>
                                            // Заголовки для таблиц

                                            //<input type="text" name="example" list="exampleList"><datalist id="exampleList"><option value="A"><option value="B"></datalist>

                                            // для удаленной таблицы


                                            let vlozheniya = []
                                            window.vlozheniya = vlozheniya

                                            {#document.getElementById('file').onchange = uploadfile_func#}

                                            function uploadfile_func() {
                                                console.log('vlozheniya = ', vlozheniya)
                                                console.log(document.getElementById('file'));
                                                console.log(5645123)
                                                const fileInput = document.getElementById('file'); // получаем элемент input для загрузки файла
                                                const file = fileInput.files[0]; // получаем выбранный файл

                                                console.log("fileInput = " + fileInput)
                                                console.log("fileInput.files[0] = " + fileInput.files[0])
                                                console.log("file = " + file)

                                                const xhr = new XMLHttpRequest(); // создаем объект XMLHttpRequest
                                                const formData = new FormData(); // создаем объект FormData для передачи файла

                                                formData.append('file', file); // добавляем файл в объект FormData
                                                file_name = this.value.replace(/.*[\/\\]/, '');
                                                console.log("file_name = ", file_name)
                                                xhr.open('POST', '/BaseFile/uploadfile'); // указываем метод и URL сервера, куда будет отправлен файл
                                                xhr.setRequestHeader("Authorization", localStorage.getItem('Authorization')); // указываем метод и URL сервера, куда будет отправлен файл
                                                xhr.send(formData);
                                                xhr.onload = function () {
                                                    console.log(`Загружено: ${xhr.status} ${xhr.response}`);
                                                    if (xhr.status == 200) {
                                                        vlozheniya.push({
                                                            name: file_name,
                                                            id: xhr.response.replaceAll('"', "")
                                                        })
                                                        div = document.createElement('div')
                                                        a = document.createElement('a')
                                                        a.href = 'javascript:void(0);'
                                                        a.target = "_blank"
                                                        a.onclick = function () {
                                                            event.preventDefault();
                                                            downloadFileFromURL('/BaseFile/download-file/' + xhr.response.replaceAll('"', ""), file_name)
                                                        }
                                                        a.innerText = file_name
                                                        div.append(a)
                                                        document.getElementsByName('TechTaskProject_form')[0].append(div)

                                                        // <a href='javascript:void(0);' target="_blank" onclick="event.preventDefault();downloadFileFromURL('/BaseFile/download-file/6d3d286e-4ab5-4f69-afdc-952a7d98137f', 'Бросить кубики онлайн.html')">Бросить кубики онлайн.html</a>

                                                    }
                                                    // $('input[name="TechTaskProject"]').prop('files')[0]["id"] = $('input[name="TechTaskProject"]').prop('files')[0]["id"].append(xhr.response)

                                                }
                                            }

                                            // $("#TechTaskProject").prop('files')[0]["id"]="iddddd"// отправляем запрос на сервер с помощью метода send()
                                            // fire the upload here

                                            function submitForm(event) {
                                                event.preventDefault(); // Предотвращаем обновление страницы
                                                console.log(123)
                                                // let form = document.getElementById("myForm");
                                                // let formData = new FormData(form);
                                                //
                                                // // Отправка данных формы с помощью AJAX-запроса
                                                // let xhr = new XMLHttpRequest();
                                                // xhr.open("POST", form.action, true);
                                                // xhr.send(formData);
                                            }

                                            const el = document.createElement('div');
                                            el.setAttribute("id", "addButton");
                                            let idButton = 1;
                                            let idButtonArr = [1];

                                            addFile.onclick = function () {
                                                {
                                                    document.getElementById('addFile').setAttribute("class", '')
                                                    idButton = idButtonArr[idButtonArr.length - 1];
                                                    {# if (window.vlozheniya.length == 0) {
                                                         console.warn('TechTaskProject', window.vlozheniya)
                                                         document.getElementsByName('TechTaskProject')[0].setAttribute("required", true)
                                                     } else#}
                                                    if (idButtonArr.length >= 2 && document.getElementById('file' + Number(idButtonArr[idButtonArr.length - 2])).value == '') {
                                                        document.getElementById('input' + Number(idButton - 1)).setAttribute("required", true)
                                                        document.getElementById('file' + Number(idButton - 1)).setAttribute("required", true)
                                                        document.getElementById('input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');
                                                    } else {
                                                        let poddiv = document.createElement("div");
                                                        poddiv.setAttribute("id", "expent" + idButton);
                                                        poddiv.setAttribute("class", "expent" + idButton);
                                                        document.getElementById("testText").appendChild(poddiv);

                                                        const box = document.getElementById('expent' + idButton);
                                                        box.appendChild(el);
                                                        let button = document.createElement("input");
                                                        button.type = "button";
                                                        button.value = "Удалить файл";

                                                        button.setAttribute("id", "idButton" + idButton);
                                                        let text = document.createElement("input");

                                                        text.type = "file";
                                                        text.disabled = true;
                                                        text.setAttribute("id", "file" + idButton);
                                                        let vvod = document.createElement("input");
                                                        vvod.setAttribute("id", "input" + idButton)

                                                        vvod.type = "input";
                                                        {#let lab = document.createElement("label");
                                                        lab.setAttribute("id", "label" + idButton)
                                                        lab.name = "TechTaskProject";
                                                        lab.type = "label";
                                                        lab.innerHTML = ''#}

                                                        box.appendChild(vvod);
                                                        box.appendChild(text);
                                                        box.appendChild(button);
                                                        {#box.appendChild(lab);#}
                                                        idButton++;
                                                        idButtonArr.push(idButton);


                                                        box.addEventListener('click', function handleClick() {
                                                            if (event.target.type == 'button') {
                                                                let str = event.target.id.slice(8, event.target.id.length);

                                                                console.log('document.getElementById("expent" + str).getElementsByTagName() = ', document.getElementById('expent' + str).getElementsByTagName('a'));
                                                                if (document.getElementById('input' + str).value != '') {
                                                                    if (document.getElementById('file' + str).value != '') {
                                                                        let coll = document.getElementById('expent' + str).getElementsByTagName('a')[0].innerText;
                                                                        console.log('str = ', str, idButtonArr.indexOf(Number(str)))
                                                                        console.warn('file name id = ', vlozheniya[idButtonArr.indexOf(Number(str))].name, " ", vlozheniya[idButtonArr.indexOf(Number(str))].id)
                                                                        console.warn('Удаление файла с id: ', vlozheniya[idButtonArr.indexOf(Number(str))].id)
                                                                        vlozheniya.splice(idButtonArr.indexOf(Number(str)), 1);
                                                                    }

                                                                }
                                                                {#console.log('index = ' + vlozheniya.indexOf(coll))
                                                                console.log('coll = ' + coll)#}
                                                                console.log('str = ' + str + " idButtonArr.indexOf(str) = " + idButtonArr.indexOf(Number(str)))
                                                                document.getElementById('expent' + str).remove();
                                                                console.log(vlozheniya)
                                                                idButtonArr.splice(idButtonArr.indexOf(Number(str)), 1);
                                                                idButton = idButtonArr[idButtonArr.length - 1];
                                                            }
                                                        });
                                                        box.addEventListener('change', e => {
                                                            if (event.target.id.slice(0, 4) == 'file') {
                                                                let str = event.target.id.slice(4, event.target.id.length);
                                                                document.getElementById('file' + str).onchange = uploadfile_func1('file' + str);
                                                                document.getElementById('input' + str).setAttribute('readonly', true);
                                                            } else if (event.target.id.slice(0, 5) == 'input') {
                                                                let str = event.target.id.slice(5, event.target.id.length);
                                                                document.getElementById('file' + str).disabled = false;
                                                                console.log("str111", str);
                                                            }
                                                        })
                                                    }
                                                }
                                            };

                                            function uploadfile_func1(str) {
                                                console.log('vlozheniya = ', vlozheniya)
                                                console.log('uploadfile_func1: ' + str)
                                                console.log(document.getElementById(str));
                                                const fileInput = document.getElementById(str); // получаем элемент input для загрузки файла
                                                console.log("fileInput = " + fileInput)
                                                const file = fileInput.files[0]; // получаем выбранный файл
                                                console.log("file = " + file)
                                                console.log("fileInput.files = " + fileInput.files)

                                                const xhr = new XMLHttpRequest(); // создаем объект XMLHttpRequest
                                                const formData = new FormData(); // создаем объект FormData для передачи файла

                                                formData.append('file', file); // добавляем файл в объект FormData

                                                file_name = document.getElementById(str).value.replace(/.*[\/\\]/, '');

                                                console.log("file_name = ", file_name)
                                                xhr.open('POST', '/BaseFile/uploadfile'); // указываем метод и URL сервера, куда будет отправлен файл
                                                xhr.setRequestHeader("Authorization", localStorage.getItem('Authorization')); // указываем метод и URL сервера, куда будет отправлен файл
                                                xhr.send(formData);
                                                xhr.onload = function () {
                                                    console.log(`Загружено: ${xhr.status} ${xhr.response}`);
                                                    if (xhr.status == 200) {
                                                        vlozheniya.push({
                                                            name: file_name,
                                                            id: xhr.response.replaceAll('"', "")
                                                        })
                                                        div = document.createElement('div')
                                                        a = document.createElement('a')
                                                        a.href = 'javascript:void(0);'
                                                        a.target = "_blank"
                                                        a.onclick = function () {
                                                            event.preventDefault();
                                                            downloadFileFromURL('/BaseFile/download-file/' + xhr.response.replaceAll('"', ""), file_name)
                                                        }
                                                        a.innerText = file_name

                                                        let lab = document.createElement("label");
                                                        lab.setAttribute("id", "label" + str.replace('file', ''))
                                                        lab.type = "label";
                                                        lab.style = "margin-right: 10px";
                                                        lab.innerText = document.getElementById('input' + str.replace('file', '')).value;
                                                        div.append(lab);
                                                        div.append(a);

                                                        console.log(div)
                                                        document.getElementById('expent' + str.slice(4, str.length)).appendChild(div);
                                                        {#document.getElementById('label' + str).innerHTML = document.getElementById('input' + str).value;#}
                                                        // <a href='javascript:void(0);' target="_blank" onclick="event.preventDefault();downloadFileFromURL('/BaseFile/download-file/6d3d286e-4ab5-4f69-afdc-952a7d98137f', 'Бросить кубики онлайн.html')">Бросить кубики онлайн.html</a>
                                                        console.warn(str)
                                                        document.getElementById(str).disabled = true;
                                                    }
                                                    // $('input[name="TechTaskProject"]').prop('files')[0]["id"] = $('input[name="TechTaskProject"]').prop('files')[0]["id"].append(xhr.response)

                                                }
                                            }
                                        </script>
                                        <div class="form-group">
                                            <label>ППР (проект производства работ)</label>
                                            <textarea name="TechTaskPPR" class="form-control" rows="3"
                                                      placeholder="Введите описание"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Накладные расходы на объекте</label>
                                            <textarea name="TechTaskOverhead" class="form-control" rows="3"
                                                      placeholder="Введите описание"></textarea>
                                        </div>


                                        <div class="row">
                                            <div class="form-group col-lg-3">
                                                <label>Срок подготовки коммерческого предложения</label>
                                                <input name="TechTaskDateKP" type="datetime-local" class="form-control"
                                                       placeholder="dd.mm.yyyy">
                                            </div>

                                            <div class="form-group col-lg-3">
                                                <label>Срок выполнения работ</label>
                                                <input name="TechTaskDateEndWork" type="datetime-local"
                                                       class="form-control"
                                                       placeholder="dd.mm.yyyy">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Условия оплаты</label>
                                            <textarea name="TechTaskPrice" class="form-control" rows="3"
                                                      placeholder="Введите описание"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Ответственный за КП</label>
                                            <select name="TechTaskLeaderKP" class="form-control">
                                                <option>Главный инженер</option>
                                                <option>Технический директор</option>
                                                <option>Снабжение</option>
                                                <option>ПТО</option>
                                                <option>Директор</option>
                                            </select>
                                        </div>

                                        <button id="createTicket">Создать задание</button>
                                        <script>
                                            let elem_obj = {}
                                            elem_obj.TechTaskProject = JSON.stringify(window.vlozheniya)
                                            console.log('client0', elem_obj)

                                            function validForm(obj) {
                                                valid=true
                                                console.log('validForm', obj)
                                                let elements = $('form').serializeArray();
                                                console.log('client1', elements)
                                                for (let key of elements) {
                                                    elem_obj[key.name] = key.value
                                                    if (key.value == '' || key.value == '[]') {
                                                        valid = false
                                                        console.warn(key, key.name, key.value)
                                                        document.getElementsByName(key.name)[0].setAttribute("required", true)
                                                    } else {
                                                        document.getElementsByName(key.name)[0].removeAttribute("required")
                                                    }
                                                }
                                                if (window.vlozheniya.length == 0) {

                                                    console.warn('TechTaskProject', window.vlozheniya)
                                                    if (idButtonArr.length > 1) {
                                                        document.getElementById('input' + Number(idButton - 1)).setAttribute("required", true)
                                                        document.getElementById('file' + Number(idButton - 1)).setAttribute("required", true)
                                                        document.getElementById('input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');
                                                    } else {
                                                        document.getElementById('addFile').setAttribute("class", 'valid_button')
                                                    }


                                                    valid = false

                                                } else if (idButtonArr.length >= 2 && document.getElementById('file' + Number(idButtonArr[idButtonArr.length - 2])).value == '') {
                                                    console.warn('TechTaskProject', window.vlozheniya)
                                                    document.getElementById('input' + Number(idButton - 1)).setAttribute("required", true)
                                                    document.getElementById('file' + Number(idButton - 1)).setAttribute("required", true)
                                                    document.getElementById('input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');
                                                    alert('valid')
                                                    valid = false
                                                }

                                                return valid
                                            }

                                            document.getElementById('createTicket').onclick = function (event) {
                                                    event.preventDefault()

                                                if (validForm(document.getElementById('formFrame'))) {

                                                    // Определяем функцию которая принимает в качестве параметров url и данные которые необходимо обработать:
                                                    const postData = async (url = '', data = {}) => {
                                                        // Формируем запрос
                                                        data.TechTaskProject = JSON.stringify(window.vlozheniya)

                                                        const response = await fetch(url, {
                                                            // Метод, если не указывать, будет использоваться GET
                                                            method: 'POST',
                                                            // Заголовок запроса
                                                            headers: {
                                                                "Authorization": localStorage.getItem('Authorization'),
                                                                'Content-Type': 'application/json'
                                                            },
                                                            // Данные
                                                            body: JSON.stringify(data)
                                                        });
                                                        if (response.status == 409) {
                                                            alert('Ошибка:' + (response.status) + ' Наименнование объекта уже существует')
                                                            console.log('Ошибка', (response.status))

                                                            let emailInput = document.getElementsByName('NameTechTask');
                                                            emailInput.focus();

                                                        }
                                                        // читаем ответ в формате JSON
                                                        {#console.log('response.json():', response.json())#}

                                                        {#return response.json();#}
                                                    }
                                                    postData('/main/creatTask', elem_obj)
                                                        .then((data) => {
                                                            console.log('------успех-----', data);
                                                            window.location.href = '/main/techTask.html';
                                                        }).catch((err) => {
                                                        console.log('------badly-----', err);
                                                    })

                                                } else {
                                                    event.preventDefault()
                                                }
                                            }
                                        </script>
                                    </form>

                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

{% include "indexShablon_end.html" %}


</body>

</html>