<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>console.log("roles_userroles_userroles_user", {{roles_user|tojson|safe}})
console.log("get_UserTaskget_UserTaskget_UserTask", {{get_UserTask|tojson|safe}})
console.log("AuthorAuthor", {{getTechTaskName.user_name|tojson|safe}})
</script>
<head>
    {% include "indexShablon_head.html" %}

</head>
{#<script type="text/javascript" src="static/TechTask/techTask.js"></script>#}
{#<script type="text/javascript" src="static/techTaskFormEditScript.js"></script>#}
<body>
<div id="wrapper">
    {% include "indexShablon.html" %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Создание технического задания
                    </h1>
                </div>
            </div>


            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="section col-lg-12">

                        <div class="">

 <div class="panel-heading">

                    <div class="form-group panel panel-default">
                    <div class="form-group panel-heading" style="margin-bottom: 0px;">
                                <H4 id="Type_label">Сформировать задачи по данному ТЗ на сотрудников (по ФИО, Отделу, Роли)</H4>
                                {% include "Form_User_Tasck.html" %}



                                <div class="form-group">
                                    <H4 id="Type_label">Активные задачи</H4>
<a class="content_toggle2" href="#">Скрыть автивные задачи</a>

                                    <div id="history_techTask_activ"  class="content_block2">
                                    </div>
                                </div>
  <div  id="history_techTask_div" class="form-group">
                                <H4 id="Type_label">История задач</H4>

<a class="content_toggle" href="#">Посмотреть историю задач</a>

<div id="history_techTask" class="content_block" style="display: none;">
  <p>Блок скрытого текста...</p>
</div>
                                        </div>
                                        </div>
                                        </div>

<script>
$(document).ready(function(){
  $('.content_toggle').click(function(){
    $('.content_block').slideToggle(300, function(){
      if ($(this).is(':hidden')) {
        $('.content_toggle').html('Посмотреть историю задач');
      } else {
        $('.content_toggle').html('Скрыть историю задач');
      }
    });
    return false;
  });
  $('.content_toggle2').click(function(){
    $('.content_block2').slideToggle(300, function(){
      if ($(this).is(':hidden')) {
        $('.content_toggle2').html('Показать автивные задачи');
      } else {
        $('.content_toggle2').html('Скрыть автивные задачи');
      }
    });
    return false;
  });
});
</script>
                            <div class="section__tabs tabs">
                                <div class="tabs__head">
                                    <div class="tabs__caption" data-tab="main">Тех Задание</div>
                                    <div class="tabs__caption" data-tab="pto">Расчет стоимости</div>
                                    <div class="tabs__caption" data-tab="KP">КП</div>

                                    {#                                    <div class="tabs__caption" data-tab="about">Главный Инженер</div>#}
                                    {#                                    <div class="tabs__caption" data-tab="about">Руководитель</div>#}
                                </div>
                                <div class="tabs__body">
                                    <div class="tabs__content" data-tab="main">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Список полей
                                            </div>
                                            {% include "TechTask/techTaskFormEdit_FormMainTask.html" %}

                                            <!-- /.panel-body -->
                                        </div>
                                    </div>

                                    <div class="tabs__content" data-tab="pto">
                                        <div class="panelCalcylator panel-default">
{#                                            <div class="panel-heading">#}
{##}
{#                                            </div>#}



                                            {% include "TechTask/techTaskFormEdit_Calcylator.html" %}

                                        </div>

                                    </div>
                                    <div class="tabs__content" data-tab="KP">
                                        <div class="panel panel-default">

                                            {% include "TechTask/techTaskFormEdit_FormKP.html" %}

                                            <!-- /.panel-body -->
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        </div>
                    </section>
                </div>
            </div>

            <script>
                var search = location.search.substring(1);
                let nameTT = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}', function (key, value) {
                    return key === "" ? value : decodeURIComponent(value)
                })
                const postData = async (url = '', data = {}) => {
                    // Формируем запрос
                    const response = await fetch(url, {
                        // Метод, если не указывать, будет использоваться GET
                        method: 'GET',
                        // Заголовок запроса
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        // Данные
                        // body: JSON.stringify(data)
                    });
                    {#return response.json();#}
                }
                postData('/main/getTechTaskNameTechTask?NameTechTask=' + nameTT.NameTechTask)
                    .then((data) => {
                        console.log('------успех-----', data);
                    }).catch((err) => {
                    console.log('------badly-----', err);
                })


                document.addEventListener('DOMContentLoaded', () => { // Структура страницы загружена и готова к взаимодействию

                    let elem_obj = {}
                    elem_obj.TechTaskProject = JSON.stringify(window.vlozheniya)

                    function validForm(obj) {
                        elem_obj['TechTask_sketch']={}
                        elem_obj['TechTask_plan']={}
                        elem_obj['TechTask_analysis']={}
                        elem_obj['TechTask_counting']={}
                        elem_obj['TechTask_calcylator']={}
                        elem_obj['TechTask_KP']={}
                        valid = true
                        console.log('validForm', obj)
                        console.log('elem_obj', elem_obj)
                        let elements = $('form').serializeArray();
                        console.log('client1', elements)
                        for (let key of elements) {
                            elem_obj[key.name] = key.value
                            if (key.name.indexOf("_sketch") != -1) {
                                                        if (checkbox_sketch.checked) {
                                                            elem_obj["TechTask_sketch"][key.name] = key.value
                                                            elem_obj["TechTask_sketch"]["checked"] = true
                                                            console.log(elem_obj["TechTask_sketch"])
                                                        } else {
                                                            elem_obj["TechTask_sketch"]["checked"]=false
                                                            console.log(elem_obj["TechTask_sketch"])
                                                            continue
                                                        }
                                                    }

                                                    //div_checkbox_analysis
                                                    if (key.name.indexOf("_analysis") != -1) {
                                                        if (checkbox_analysis.checked) {
                                                            elem_obj["TechTask_analysis"][key.name] = key.value
                                                            elem_obj["TechTask_analysis"]["checked"] = true
                                                            console.log(elem_obj["TechTask_analysis"])
                                                        } else {
                                                            elem_obj["TechTask_analysis"]["checked"]=false
                                                            console.log(elem_obj["TechTask_analysis"])
                                                            continue
                                                        }
                                                    }
                                                    //_counting
                                                    if (key.name.indexOf("_counting") != -1) {
                                                        if (checkbox_counting.checked) {
                                                            elem_obj["TechTask_counting"][key.name] = key.value
                                                            elem_obj["TechTask_counting"]["checked"] = true
                                                            console.log(elem_obj["TechTask_counting"])
                                                        } else {
                                                            elem_obj["TechTask_counting"]["checked"]=false
                                                            console.log(elem_obj["TechTask_counting"])
                                                            continue
                                                        }
                                                    }

                                                    //_calcylator
                                                    if (key.name.indexOf("_calcylator") != -1) {
                                                        if (checkbox_calcylator.checked) {
                                                            elem_obj["TechTask_calcylator"][key.name] = key.value
                                                            elem_obj["TechTask_calcylator"]["checked"] = true
                                                            console.log(elem_obj["TechTask_calcylator"])
                                                        } else {
                                                            elem_obj["TechTask_calcylator"]["checked"]=false
                                                            console.log(elem_obj["TechTask_calcylator"])
                                                            continue
                                                        }
                                                    }

                                                    //_KP
                                                    if (key.name.indexOf("_KP") != -1) {
                                                        if (checkbox_KP.checked) {
                                                            elem_obj["TechTask_KP"][key.name] = key.value
                                                            elem_obj["TechTask_KP"]["checked"] = true
                                                            console.log(elem_obj["TechTask_KP"])
                                                        } else {
                                                            elem_obj["TechTask_KP"]["checked"]=false
                                                            console.log(elem_obj["TechTask_KP"])
                                                            continue
                                                        }
                                                    }


                                                    if ($("#checkbox_sketch").is(":checked")!=true){
                                                        if (key.name.indexOf("_sketch")!=-1){
                                                            elem_obj["TechTask_sketch"]["checked"]=false
                                                            continue
                                                        }
                                                    }else{
                                                        if (key.name.indexOf("_sketch")!=-1) {
                                                            elem_obj["TechTask_sketch"][key.name]=key.value
                                                            elem_obj["TechTask_sketch"]["checked"]=true

                                                        }
                                                    }

                                                    if ($("#checkbox_plan").is(":checked")!=true){
                                                        if (key.name.indexOf("_plan")!=-1){
                                                            elem_obj["TechTask_plan"]["checked"]=false
                                                            continue
                                                        }
                                                    }
                                                    else {
                                                        if (key.name.indexOf("_plan")!=-1) {
                                                            elem_obj["TechTask_plan"][key.name]=key.value
                                                            elem_obj["TechTask_plan"]["checked"]=true
                                                            //{"TechTaskDate_plan":"2024-05-29","checked":true,"TechTaskPPR_plan":"нужен чертеж"}
                                                        }
                                                    }
                            if (key.value == '' || key.value == '[]') {
                                valid = false
                                console.warn(key, key.name, key.value)
                                document.getElementsByName(key.name)[0].setAttribute("required", true)
                            } else {
                                document.getElementsByName(key.name)[0].removeAttribute("required")
                            }
                        }


                            elem_obj["TechTask_plan"]=JSON.stringify(elem_obj["TechTask_plan"])
                            elem_obj["TechTask_sketch"]=JSON.stringify(elem_obj["TechTask_sketch"])
                            elem_obj["TechTask_analysis"]=JSON.stringify(elem_obj["TechTask_analysis"])
                            elem_obj["TechTask_counting"]=JSON.stringify(elem_obj["TechTask_counting"])
                            elem_obj["TechTask_calcylator"]=JSON.stringify(elem_obj["TechTask_calcylator"])
                            elem_obj["TechTask_KP"]=JSON.stringify(elem_obj["TechTask_KP"])
                            console.log("idButtonArridButtonArr",idButtonArr)
                        if (window.vlozheniya.length == 0) {


                            console.warn('TechTaskProject', window.vlozheniya)
                            if (idButtonArr.length > 1) {
                                document.getElementById('Form_input' + Number(idButton - 1)).setAttribute("required", true)
                                document.getElementById('Form_file' + Number(idButton - 1)).setAttribute("required", true)
                                document.getElementById('Form_input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');
                            } else {
                                document.getElementById('addFile').setAttribute("class", 'valid_button')
                            }


                            valid = false

                        }
                        {#else if (idButtonArr.length >= 2 && document.getElementById('Form_file' + Number(idButtonArr[idButtonArr.length - 2])).value == '') {#}
                        {#    console.warn('TechTaskProject', window.vlozheniya)#}
                        {#    document.getElementById('Form_input' + Number(idButton - 1)).setAttribute("required", true)#}
                        {#    document.getElementById('Form_file' + Number(idButton - 1)).setAttribute("required", true)#}
                        {#    document.getElementById('Form_input' + Number(idButton - 1)).setAttribute('placeholder', 'Вложите файл');#}
                        {#    alert('valid')#}
                        {#    valid = false#}
                        //}

                        return valid
                    }

                    document.getElementById('createTicket').onclick = function (event) {

                        {#console.log()#}
                        event.preventDefault()

                        if (validForm(document.getElementById('formFrame'))) {

                            // Определяем функцию которая принимает в качестве параметров url и данные которые необходимо обработать:
                            const postData2 = async (url = '', data = {}) => {
                                // Формируем запрос
                                data.TechTaskProject = JSON.stringify(window.vlozheniya)

                                const response = await fetch(url, {
                                    // Метод, если не указывать, будет использоваться GET
                                    method: 'POST',
                                    // Заголовок запроса
                                    headers: {
                                        "Authorization": getCookieValue("Authorization"),
                                        'Content-Type': 'application/json'
                                    },
                                    // Данные
                                    body: JSON.stringify(data)
                                });
                                if (response.status == 409) {
                                    alert('Ошибка:' + (response.status) + ' Наименнование объекта уже существует')
                                    console.log('Ошибка', (response.status))

                                    let emailInput = document.getElementsByName('NameTechTask');
                                    emailInput.focus();

                                }
                                // читаем ответ в формате JSON
                                {#console.log('response.json():', response.json())#}

                                {#return response.json();#}
                            }
                            postData2('/main/update_value', elem_obj)
                                .then((data) => {
                                    console.log('------успех-----', data);
                                    {#window.location.href = '/main/techTask.html';#}
                                }).catch((err) => {
                                console.log('------badly-----', err);
                            })

                        } else {
                            event.preventDefault()
                        }
                    }


                    const tabs = () => { // объявляем основную функцию для вкладок, чтобы вся логика была в одном месте
                        const head = document.querySelector('.tabs__head') // ищем элемент с кнопками и записываем в константу
                        const body = document.querySelector('.tabs__body') // ищем элемент с контентом и записываем в константу
                        const head2 = document.querySelector('.tabsCalcylator__head') // ищем элемент с кнопками и записываем в константу
                        const body2 = document.querySelector('.tabsCalcylator__body')
                        const getActiveTabName = () => { // объявляем функцию для получения названия активной вкладки
                            console.log('TABS tyt')
                            console.log(head.querySelector('.tabs__caption_active').dataset.tab)
                            if (head.querySelector('.tabs__caption_active').dataset.tab == 'pto') {

                                //$('.pto').attr("style", "display:block")
                                if (head2.querySelector('.tabsCalcylator__caption_active')) { // если уже есть активная кнопка
                                    head2.querySelector('.tabsCalcylator__caption_active').classList.remove('tabsCalcylator__caption_active') // то удаляем ей активный класс
                                }

                                head2.querySelector('.tabsCalcylator__caption').classList.add('tabsCalcylator__caption_active')
                                setActiveContent2()
                                {#let timerId#}
                                {#new Promise((resolve,reject)=>{#}
                                {#     timerId = setInterval(()=>{#}
                                {#        console.log('1111')#}
                                {#        if (first_table.offsetHeight!=0){#}
                                {#            resize_div_for_table();#}
                                {#            resolve()#}
                                {#        }#}
                                {#    },500)#}
                                {#    setTimeout(() => { clearInterval(timerId);}, 2000);#}
                                {#//})#}
                                {#.then(()=>clearInterval(timerId))#}


                            }
                            if (head.querySelector('.tabs__caption_active').dataset.tab == 'KP') {
                            console.log('warn!')

                            {#document.getElementById("KP_table").innerHTML = (document.getElementById("first_table").innerHTML);#}
                            if ($('#first_table tbody').length > 0){
                                KP_table();
                            }


                            }
                            return head.querySelector('.tabs__caption_active').dataset.tab // возвращаем значение data-tab активной кнопки
                        }
                        const setActiveContent2 = () => { // объявляем функцию для установки активного элемента контента
                            if (body2.querySelector('.tabsCalcylator__content_active')) { // если уже есть активный элемент контента
                                body2.querySelector('.tabsCalcylator__content_active').classList.remove('tabsCalcylator__content_active') // то скрываем его
                            }
                            body2.querySelector(`[data-tab='enginer_pto']`).classList.add('tabsCalcylator__content_active')
                            document.getElementById("table_pto").appendChild(document.getElementById("first_table"));

                        }

                        const setActiveContent = () => { // объявляем функцию для установки активного элемента контента
                            if (body.querySelector('.tabs__content_active')) { // если уже есть активный элемент контента
                                body.querySelector('.tabs__content_active').classList.remove('tabs__content_active') // то скрываем его
                            }

                            body.querySelector(`[data-tab=${getActiveTabName()}]`).classList.add('tabs__content_active') // затем ищем элемент контента, у которого значение data-tab совпадает со значением data-tab активной кнопки и отображаем его
                        }


// проверяем при загрузке страницы, есть ли активная вкладка
                        if (!head.querySelector('.tabs__caption_active')) {  // если активной вкладки нет
                            head.querySelector('.tabs__caption').classList.add('tabs__caption_active') // то делаем активной по-умолчанию первую вкладку
                        }

                        setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой при загрузке страницы

                        head.addEventListener('click', e => { // при клике на .tabs__head
                            const caption = e.target.closest('.tabs__caption') // узнаем, был ли клик на кнопке
                            if (!caption) return // если клик был не на кнопке, то прерываем выполнение функции
                            if (caption.classList.contains('tabs__caption_active')) return // если клик был на активной кнопке, то тоже прерываем выполнение функции и ничего не делаем

                            if (head.querySelector('.tabs__caption_active')) { // если уже есть активная кнопка
                                head.querySelector('.tabs__caption_active').classList.remove('tabs__caption_active') // то удаляем ей активный класс
                            }

                            caption.classList.add('tabs__caption_active') // затем добавляем активный класс кнопке, на которой был клик

                            setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой
                        })
                    }

                    tabs() // вызываем основную функцию

                })
            </script>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
{% include "indexShablon_end.html" %}


</body>
<script>
                            console.log("getTechTaskName", {{ getTechTaskName|tojson }})
                          console.log("getAllTask", {{ getTechTaskName.ListUserTask|tojson }})
                            list_user_tasks = {{ getTechTaskName.ListUserTask|tojson }}
                            let info_status = "<table style='border-collapse:collapse'><td><b>№ Задачи</b></td><td><b>Создал задачу</b></td><td><b>Исполнитель:</b></td><td><b>Статус:</b></td><td><b>контрольный срок:</b></td><td><b> тех. задание</b></td><td><b> решение </b></td><td><b> вложения </b></td>"
                            let info_status_activ = "<table style='border-collapse:collapse'><td><b>№ Задачи</b></td><td><b>Создал задачу</b></td><td><b>Исполнитель:</b></td><td><b>Статус:</b></td><td><b>контрольный срок:</b></td><td><b> тех. задание</b></td><td><b> решение </b></td><td><b> вложения </b></td>"
                            for (list_user_task of list_user_tasks) {
                                console.log("list_user_task",list_user_task)
                                let info_Ispolnitel = ""
                                for (executor of list_user_task.UserPfofile_executor) {
                                    info_Ispolnitel += `${executor.first_name} ${executor.last_name},`
                                }


                                info_Ispolnitel.trim(",")
                                if (list_user_task.status=="Назначена" || list_user_task.status=="В Работе" || list_user_task.status=="Возврат в работу"){
                                    if ("newnewnewnew",new Date(list_user_task.target_date)<=new Date()){
                                        info_status_activ += `<tr><td>${list_user_task.id}</td> <td>${list_user_task.UserPfofile_create.first_name} ${list_user_task.UserPfofile_create.last_name};</td> <td>${info_Ispolnitel}; </td><td> ${list_user_task.status};</td> <td> <font color="red">${list_user_task.target_date} </font>; </td><td><b>${list_user_task.name} </b></td><td> <b>${list_user_task.result} </b></p></td><td><span id="attachment_search_${list_user_task.id}"></span></td></tr>`

                                    }else{
                                        info_status_activ += `<tr><td>${list_user_task.id}</td><td>${list_user_task.UserPfofile_create.first_name} ${list_user_task.UserPfofile_create.last_name};</td> <td> ${info_Ispolnitel};</td> <td> ${list_user_task.status};</td> <td>  <font color="green">${list_user_task.target_date} </font>;</td><td> <b>${list_user_task.name} </b></p></td><td> <b>${list_user_task.result} </b></p></td><td><span id="attachment_search_${list_user_task.id}"></span></td></tr>`
                                    }


                                }
                                if (list_user_task.status=="Отказ выполнять"){
                                info_status += `<tr><td>${list_user_task.id}</td><td>${list_user_task.UserPfofile_create.first_name} ${list_user_task.UserPfofile_create.last_name}; </td> <td>${info_Ispolnitel}; </td> <td>${list_user_task.status}; </td> <td> ${list_user_task.target_date} ;</td> <td><b>${list_user_task.name} </b></p></font></td> <td> <b>${list_user_task.result} </b></p></td> <td><span id="attachment_search_${list_user_task.id}"></span></td></tr>`

                                }
                                if (list_user_task.status=="Выполнено"){
                                info_status += `<tr><td>${list_user_task.id}</td><td>${list_user_task.UserPfofile_create.first_name} ${list_user_task.UserPfofile_create.last_name}; </td> <td>${info_Ispolnitel}; </td> <td>${list_user_task.status}; </td> <td> ${list_user_task.target_date} ; </td> <td><b>${list_user_task.name} </b></p></td> <td> <b>${list_user_task.result} </b></p></td><td><span id="attachment_search_${list_user_task.id}"></span></td></tr>`

                                }


                            }
                            console.log(info_status)

                            if (info_status==""){
                            document.getElementById("history_techTask_div").setAttribute("style", "display:none")
                            }else{
                            document.getElementById("history_techTask").innerHTML = info_status
                            }
                            if (info_status_activ==""){
                                document.getElementById("history_techTask").innerHTML = "Отсутствуют активные задачи"

                            }else{
                            document.getElementById("history_techTask").innerHTML = info_status
                            }
                            document.getElementById("history_techTask_activ").innerHTML = info_status_activ

                            for (list_user_task of list_user_tasks) {

                                if (list_user_task.attachment!= null){
                                    for (val of list_user_task.attachment){
                                        val=JSON.parse(val)
                                        console.log("val",val)
                                        if (val!=null){
                                       div = document.createElement('div')
                                        a = document.createElement('a')
                                        a.href = 'javascript:void(0);'
                                        a.target = "_blank"
                                        console.log("SON.parse",val.id.replaceAll('"', ""))
                                        console.log("SON.parse",val.name)
                                        a.onclick = function () {
                                            event.preventDefault();
                                            downloadFileFromURL('/BaseFile/download-file/' + val.id.replaceAll('"', ""), val.name)
                                        }
                                        a.innerText = val.name

                                        a.name = val.id.replaceAll('"', "")

                                        div.append(a);


                                        document.getElementById(`attachment_search_${list_user_task.id}`).appendChild(div);

                                        }
                                    }
                                }
                                }
                        </script>
<script>
      console.log('!@#')
      var tx = document.getElementsByTagName('textarea');//РАСТЯГИВАЕМ_textarea
        for (var i = 0; i < tx.length; i++) {
            //tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
            tx[i].addEventListener("focus", OnInput, false);
            tx[i].addEventListener("input", OnInput, false);
            tx[i].addEventListener("focusout", OnOutFocus);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';//////console.log(this.scrollHeight);
        }
        function OnOutFocus() {
            this.style.height = 'auto';
        }



                                            let my_elements = $('textarea[name^=TechTask]')
                                            console.log('client1', my_elements)
                                            for (let i = 0; i<my_elements.length; i++) {
                                            let temp = my_elements[i]
                                                console.log('temp=' + temp)
                                                console.log(temp.height)
                                                temp.setAttribute('height','1px')

                                                console.log(my_elements[i].style)
                                            }
    function KP_table(){

    let kp_table_text = '<table>'

    //document.getElementById("KP_table").innerHTML = (document.getElementById("first_table").innerHTML);

    //$('#first_table')[0]
    //console.log($('#first_table tbody tr'))
    let temp_table = $('#first_table tbody')

    // иду по всем tbody таблицы
    for (let i=0; i<temp_table.length; i++){

    if (temp_table[i].id.indexOf('earthWorks_')!= -1 && temp_table[i].id.indexOf('earthWorks_Total_') == -1 && temp_table[i].id.indexOf('earthWorks_costWork_')== -1 && temp_table[i].id.indexOf('earthWorks_costMaterial_')== -1 && temp_table[i].id.indexOf('earthWorks_Special_') == -1){
     kp_table_text += '<tr> <td colspan="6" style="font-weight: bold;">'+temp_table[i].childNodes[1].childNodes[0].childNodes[0].value+'</td></tr>'
     kp_table_text += `<tr style="background-color: #fce1b3">
                            <td>№</td>
                            <td rowspan="2" style="font-weight: bold;">Наименование</td>
                            <td colspan="4" style="font-weight: bold;">Стоимость</td>
                      </tr>

                        <tr style="background-color: #fce1b3">
                            <td style="font-weight: bold;">п/п</td>
                            <td style="font-weight: bold;">Ед.изм.</td>
                            <td style="font-weight: bold;">Кол-во</td>
                            <td style="font-weight: bold;">Цена</td>
                            <td style="font-weight: bold;">Всего</td>
                        </tr>`;
    }

    // логика для tbody costWork costMaterial Special
     if (temp_table[i].id.indexOf('earthWorks_costWork_')!= -1 || temp_table[i].id.indexOf('earthWorks_costMaterial_')!= -1 || temp_table[i].id.indexOf('earthWorks_Special_')!= -1){
        // строчка заголовка tbody
        kp_table_text += '<tr style="background-color: #baffae;font-weight: bold;">';
        kp_table_text += '<td colspan="5">' + temp_table[i].childNodes[1].childNodes[5].innerHTML + '</td>'
        kp_table_text += '<td>' +  temp_table[i].childNodes[1].childNodes[7].innerHTML + '</td>'
        kp_table_text += '</tr>';
        // иду по всем tr имеющим атрибут id
        let temp_tbody_tr = $(`#${temp_table[i].id} tr[id]`)
        for (let j=0; j<temp_tbody_tr.length; j++){
            console.log(temp_tbody_tr[j])
            kp_table_text += '<tr>';
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[3].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[5].childNodes[1].childNodes[1].value + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[7].childNodes[1].childNodes[1].value + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
            kp_table_text += '</tr>';
            //console.log(temp_tbody_tr[i].childNodes[3].innerHTML)

        }
    } else if (temp_table[i].id.indexOf('earthWorks_Total_')!= -1){
         // строчка заголовка tbody
        kp_table_text += '<tr style="background-color: #baffae;font-weight: bold;">';
        kp_table_text += '<td colspan="5">' + temp_table[i].childNodes[1].childNodes[5].innerHTML + '</td>'
        kp_table_text += '<td>' +  temp_table[i].childNodes[1].childNodes[7].innerHTML + '</td>'
        kp_table_text += '</tr>';
        // иду по всем tr имеющим атрибут id
        let temp_tbody_tr = $(`#${temp_table[i].id} tr[id]`)
        for (let j=0; j<temp_tbody_tr.length; j++){
            console.log(temp_tbody_tr[j])
            kp_table_text += '<tr>';
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[3].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[5].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[7].innerHTML + '</td>'
                kp_table_text += '<td>' + temp_tbody_tr[j].childNodes[9].innerHTML + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
                kp_table_text += '<td contenteditable="true">' + '</td>'
            kp_table_text += '</tr>';
            //console.log(temp_tbody_tr[i].childNodes[3].innerHTML)

        }
    }




    }
        let footer = document.getElementById('result_total')
    kp_table_text += '<tr><td colspan="6"></td></tr>'

    kp_table_text += '<tr><td></td>'+'<td>'+ footer.childNodes[3].childNodes[5].innerHTML +'</td>'+'<td>'+ footer.childNodes[3].childNodes[13].innerHTML +'</td>' + '</tr>';
    kp_table_text += '<tr><td></td>'+'<td>'+ footer.childNodes[5].childNodes[5].innerHTML +'</td>'+'<td>'+ footer.childNodes[5].childNodes[13].innerHTML +'</td>' + '</tr>';

       document.getElementById("KP_table").innerHTML = kp_table_text+"</table>"
    }

</script>

<script type="text/javascript" src="/static/TechTask/techTask.js"></script>
                <script>
                    {#console.log(" getTechTaskName" ,{{ getTechTaskName|tojson|safe }})#}
                    {#console.log(JSON.parse({{ getTechTaskName.TechTask_sketch|tojson|safe }}))#}
                    {#console.log(" getTechTaskName" ,{{ getTechTaskName.TechTask_sketch|tojson|safe }})#}
                    {#console.log(" getTechTaskName" ,{{ getTechTaskName.TechTask_sketch|tojson|safe }}.TechTaskDate_sketch)#}
                    {#sketch=JSON.parse({{ getTechTaskName.TechTask_sketch|tojson|safe }})#}
                    {#plan=JSON.parse({{ getTechTaskName.TechTask_plan|tojson|safe }})#}
{##}
{#                    console.log("sketch",sketch)#}
{#                    console.log("sketch",sketch.TechTaskDate_sketch)#}
                    {#document.getElementById('TechTaskDate_sketch').value = '11-11-1111'#}
                    {#checkbox_sketch.checked=sketch.checked#}
                    {#checkbox_plan.checked=plan.checked#}
                    {#checkbox_sketch_func()#}
                    {#checkbox_plan_func()#}

                    {#TechTaskDate_sketch.value=sketch.TechTaskDate_sketch#}
                    {#TechTaskPPR_sketch.value=sketch.TechTaskPPR_sketch#}
                    {##}
                    {#TechTaskDate_plan.value=plan.TechTaskDate_plan#}
                    {#TechTaskPPR_plan.value=plan.TechTaskPPR_plan#}

                    var today = new Date().toISOString().split('T')[0];
                    document.getElementById("DateEndWork").setAttribute('min', today);

                </script>


</html>