<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script src="../../static/main/assets/js/jquery-1.10.2.js"></script>
    <script src="{{ url_for('static', path='main/techTask.js') }}"></script>
    <script src="{{ url_for('static', path='global.js') }}"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Free Bootstrap Admin Template : Dream</title>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', path='main/assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', path='main/assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="../../static/main/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../../static/main/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
    {% include "indexShablon.html" %}
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-9">
                    <h1 class="page-header">
                        Список текущих задач <small>с описанием процессов</small>
                    </h1>

                </div>
                <div class="col-md-3">
                    <button onclick="location.href = '/main/techTaskForm.html';" style="    " class="text-center"
                            type="button">Добавить новое задание
                    </button>
                </div>

            </div>
            <!-- /. ROW  -->
<!--//////////////////////////////////////////////////-->
<section class="section">
<div class="container">
<div class="section__tabs tabs">
  <div class="tabs__head">
    <div class="tabs__caption" data-tab="home">Home</div>
    <div class="tabs__caption" data-tab="portfolio">Portfolio</div>
    <div class="tabs__caption" data-tab="about">About</div>
  </div>
  <div class="tabs__body">
    <div class="tabs__content" data-tab="home">Home lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sit, repellat assumenda excepturi minima debitis atque nulla quibusdam iste eligendi voluptas, obcaecati nihil necessitatibus vel illum itaque ea molestias vero! Home lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sit, repellat assumenda excepturi minima debitis atque nulla quibusdam iste eligendi voluptas, obcaecati nihil necessitatibus vel illum itaque ea molestias vero!</div>
    <div class="tabs__content" data-tab="portfolio">Portfolio lorem ipsum dolor sit amet, consectetur adipisicing elit. Id magni sit, enim tenetur animi eius ea, similique optio nostrum quibusdam ex, dolores dolorem. Recusandae quo molestiae modi saepe ratione numquam!</div>
    <div class="tabs__content" data-tab="about">About lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quibusdam nemo qui numquam magnam! In sunt, ut cum nulla, accusantium mollitia et illum voluptate repudiandae! Magnam alias, iure saepe animi.</div>
  </div>
</div>
</div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => { // Структура страницы загружена и готова к взаимодействию

const tabs = () => { // объявляем основную функцию для вкладок, чтобы вся логика была в одном месте
const head = document.querySelector('.tabs__head') // ищем элемент с кнопками и записываем в константу
const body = document.querySelector('.tabs__body') // ищем элемент с контентом и записываем в константу

const getActiveTabName = () => { // объявляем функцию для получения названия активной вкладки
return head.querySelector('.tabs__caption_active').dataset.tab // возвращаем значение data-tab активной кнопки
}

const setActiveContent = () => { // объявляем функцию для установки активного элемента контента
if (body.querySelector('.tabs__content_active')) { // если уже есть активный элемент контента
body.querySelector('.tabs__content_active').classList.remove('tabs__content_active') // то скрываем его
}
body.querySelector(`[data-tab=${getActiveTabName()}]`).classList.add('tabs__content_active') // затем ищем элемент контента, у которого значение data-tab совпадает со значением data-tab активной кнопки и отображаем его
}

// проверяем при загрузке страницы, есть ли активная вкладка
if (!head.querySelector('.tabs__caption_active')) {  // если активной вкладки нет
head.querySelector('.tabs__caption').classList.add('tabs__caption_active') // то делаем активной по-умолчанию первую вкладку
}

setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой при загрузке страницы

head.addEventListener('click', e => { // при клике на .tabs__head
const caption = e.target.closest('.tabs__caption') // узнаем, был ли клик на кнопке
if (!caption) return // если клик был не на кнопке, то прерываем выполнение функции
if (caption.classList.contains('tabs__caption_active')) return // если клик был на активной кнопке, то тоже прерываем выполнение функции и ничего не делаем

if (head.querySelector('.tabs__caption_active')) { // если уже есть активная кнопка
head.querySelector('.tabs__caption_active').classList.remove('tabs__caption_active') // то удаляем ей активный класс
}

caption.classList.add('tabs__caption_active') // затем добавляем активный класс кнопке, на которой был клик

setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой
})
}

tabs() // вызываем основную функцию

})
</script>
<!--//////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////-->

            <div class="row">

                <div class="panel col-md-12 col-sm-12 col-xs-12">

                    <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Наименнование объекта
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Наименнование заказчика
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Статус
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">
                        <div class="panel-heading">
                            Действие
                        </div>
                    </div>

                </div>
            </div>

            {% for getAllTask in getAllTask_S %}
            <div class="row">

                <div class="panel col-md-12 col-sm-12 col-xs-12">

                    <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                        <div class="panel-body">
                            <div>
                                {{getAllTask.NameTechTask}}

                            </div>
                        </div>
                    </div>


                    <div class="text-center no-boder col-md-4 col-sm-12 col-xs-12">
                        <div class="panel-body">
                            <div>
                                {{getAllTask.TechTaskClient}}
                            </div>
                        </div>
                    </div>

                    <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">
                        <div class="panel-body">
                            <div>
                                Тестирование
                            </div>
                        </div>
                    </div>


                    <div class="text-center no-boder col-md-2 col-sm-12 col-xs-12">

                        <!--                    <div class="text-center  row-md-2">-->
                        <div class="panel-heading">
                            <button id="getAllTask_{{getAllTask.id}}" class="text-center" type="button">
                                Изменить/посмотреть
                            </button>

                        </div>

                    </div>
                    <script>
                        $("#getAllTask_{{getAllTask.id}}").on("click", function () {
                            console.log(999)
                        })
                    </script>


                </div>
            </div>
            {% endfor %}
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/main/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="../../static/main/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="../static/main/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../../static/main/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="../../static/main/assets/js/morris/morris.js"></script>
<!-- Custom Js -->
<script src="../../static/main/assets/js/custom-scripts.js"></script>


</body>
<script src="{{ url_for('static', path='main/techTask.js') }}"></script>

</html>